#container{
    width: 100%;
}

#title{
    float: left;
    padding: 20px 0 0 0;
    font-size: 20px;
}

.navbar{
    float: right;
    /* padding-right: 50px; */
}

.nav-item{
    padding-right: 20px;
}

#logo{
    float: left;
    /* display: block; */
    width: 100px;    
}

#menu{
    /* width: 100%; */
    height: 70px;
    background-color: #FED542;
}

.nav-link{
    padding: 15px;
    border-radius: 30px;
}

.nav-link:hover{
    border-radius: 30px;
    background-color: #deba36;
}

button{
    
}

.row{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
}

.header img{
    float: right;
    width: 100%;
    padding: 0px;
}

.col-xl-6{
    padding: 0px;
}

/* 
a{
    text-decoration: none;
    color: black;
    padding: 20px;
} */
/* 
.chat{
    padding: 20px;
    width: 70px;
    background-color: #FED542;
} */

#confirm a{
    /* margin-top: 20px; */
    padding: 5px 5px 5px 5px;
    border: solid 1px rgba(252, 194, 0, 0.5);
    border-radius: 10px;
    /* width: 50%; */
    /* display: block; */
    text-decoration: none;
    color: white;
    background-color: #FCC200;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;
}