@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
    font-family: 'Baloo';
    src: url('Baloo.woff2');
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.wrapper{
    width: 100vw;
    max-width: 100%;
}

p{
    margin: 0;
}

.emoji{
    font-family: 'Noto Color Emoji';
    font-size: 5em;
    user-select: none;

    position: relative;
    animation: floating 1s infinite;
    animation-direction: normal;
}

@keyframes floating{
    0%   {top: 1px;}
    50%   {top: 10px;}
    100% {top: 1px;}
}

.button{
    grid-column: 1 / span 2;
}

.primaryBTN{
    background-color: #ffbc2f;
    text-decoration: none;
    color: white;
    border: 3px solid transparent;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.primaryBTN, .secondaryBTN{
    display: grid;
    justify-self: center;
    font-family: "Albert Sans";
    padding: 0.7em 1.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}

.secondaryBTN{
    background-color: white;
    text-decoration: none;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.secondaryBTN:hover{
    background-color: #ffbc2f;
    color: white;
    border: 3px solid #ffbc2f;
}

.tertiaryBTN, .tertiaryBTN a{
    display: inline-block;
    color: black;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    font-family: "Albert Sans";
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 2px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    margin-top: -2px;
}


.header{
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    grid-template-columns: auto 1fr 1fr;
    background-color: transparent;
    align-items: center;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 10px;
}

#homepage{
    text-decoration: none;
    color: #000;
    height: fit-content;
}

#homepage p{
    margin: 0;
    font-size: 15px;
}

.logo{
    text-align: center;
    padding: 0.5vw;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;
    height: fit-content;
}

#logoImg{
    width: 50px;
    /* margin: auto; */
}

#navbar{
    display: inline-block;
    margin-left: 3vw;
    width: fit-content;
}

#navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    justify-items: center;
    width: fit-content;
    gap: 4vw;
}

#navigation li{
    list-style: none;
    width: fit-content;
}

#loginNav{
    display: grid;
    justify-content: end;
    padding: 0;
    margin: 0;
    /* align-content: center; */
}

#loginNav li{
    list-style: none;
    margin-right: 1vw;
}

#optprofile{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: url("/_images/missingpicture.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    cursor: pointer;
}


.cover{
    display: grid;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 5vh 0 10vh 0;
}

.cover img{
    display: block;
    width: 40vw;
    justify-self: center;
    font-family: none;
}

.texts{
    display: grid;
    height: fit-content;
    align-self: center;
    gap: 5vh;
}

.bigtext{
    justify-self: center;
    align-self: end;
    text-align: center;
    font-family: "Red Hat Text";
    font-weight: 600;
    font-size: 2em;
}

.midtext{
    align-self: center;
    text-align: center;
    font-family: "Red Hat Text";
    font-size: 1.5em;
}


.description{
    width: 100vw;
    max-width: 100%;
    display: grid;
    text-align: center;
    font-family: "Red Hat Text";
    gap: 2vh;
    margin-bottom: 5vh;    
}

.headline{
    font-size: 3.5em;
    font-weight: 600;
}

.pers{
    font-size: 1.2em;
    width: 40vw;
    justify-self: center;
}


.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-family: "Red Hat Text";
    width: 80vw;
    max-width: 100%;
    justify-self: center;
    margin-bottom: 10vh;
}

.services img{
    width: 10vw;
}

.services p:nth-of-type(even){
    margin: auto;
    font-size: 1.2em;
}


.aboutus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto 1fr; */
    justify-self: center;
    width: 90%;
    margin-bottom: 5vh;
}

.aboutus img{
    height: 40vh;
}


.us-text{
    /* display: grid; */
    align-self: center;
    text-align: center;
    font-family: "Red Hat Text";
    
}

.us-text p{
    font-size: 1.5em;
}

.us-text button{
    margin-top: 1vh;
}

/* .aboutus img{
    width: 40vw;
    justify-self: center;
    align-self: center;
    margin: auto;
}

.aboutus button{
    margin-top: 1vh;
} */


.signup{
    display: grid;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    font-family: "Red Hat Text";
    margin-bottom: 5vh;
}

.signup img{
    width: 50vw;
}

.convince{
    display: grid;
    justify-self: center;
    align-self: center;
    gap: 1vh;
    text-align: center;
}

.convince li{
    /* text-indent: 2em; */
    /* list-style-position: inside; */
    list-style: none;
    /* text-indent: 15%; */
}


.convince ul{
    margin: 1em 0;
    list-style: none;
    list-style-type: disc;
}

.convince p{
    font-weight: 600;
    text-align: center;
}

.convince p, li{
    font-size: 1.5em;
}


.donation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    
    margin-bottom: 5vh;
    height: fit-content;
    font-size: 0.9em;
    justify-self: center;
    /* justify-items: center; */
}


#donationImg img{
    display: block;
    width: 30vw;
    justify-self: center;
    /* padding: 2vh 0; */
}

.donation-text{
    width: 50vw;
    justify-self: center;
    align-self: center;
    font-family: "Red Hat Text";
    font-size: 1.5em;
    margin: 0;
    
}

.donation button{
    margin-top: 1vh;
}

.support{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 80vw;
    max-width: 100%;
    align-items: center;
    justify-items: center;
    justify-self: center;
    /* height: 50vh; */
    font-family: "Red Hat Text";
    margin-bottom: 5vh;
    text-align: center;
}

.support img{
    width: 20vw;
}

.supportText{
    display: grid;
    font-size: 1.5em;
    gap: 3vh;
    width: 40vw;
}

.supportText p:nth-of-type(1){
    font-weight: 600;
    font-size: 1.5em;
}

.support button{
    margin-top: 2vh;
    grid-column: 1 / span 2;
}


.footer{
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    background-color: #ffbc2f;
    align-self: end;
    max-width: 100%;
}

.footer > div{
    height: fit-content;
    padding: 2vh 0 0 2vh;
    margin-bottom: 0;
    color: rgb(51, 51, 51);
}

.footer > div > a{
    text-decoration: none;
    color: black;
}

.footer > div > a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: "Albert Sans";
    width: fit-content;
    margin-bottom: 1em;
}

.footerlink > a:hover{
    color: rgb(51, 51, 51);
}

.footerlink a:hover::after{
    transform: scaleX(1);
}

.footerlink a::after{
    display: block;
    content: '';
    border-bottom: solid 2px rgb(51, 51, 51);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-top: -2px;
}

.footer > div > h5, #trademark{
    font-family: 'Red Hat Text';
}

#name, #team, #customerservice, #more{
    padding: 4vh;
}

#socialmedia a{
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    font-size: 0;
}

#name{
    display: grid;
    gap: 2vh;
}

#name #coffee{
    width: 2vw;
}

#name #insta{
    width: 3.2vw;
    margin-left: 2vw;
}

#coName{
    font-size: 1.7em;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;
}

#coSlogan{
    font-family: 'Red Hat Text';
}

#socialmedia{
    margin-bottom: 0;
}

#team{
    width: fit-content;
}

#more{
    display: grid;
}

#trademark{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 4;
    margin: 0;
    padding: 0;
}

#trademark p{
    align-self: end;
    width: fit-content;
    padding: 0 0 1vw 1vw;
    margin: 0;
}

#trademark a{
    grid-column: 2 / span 4;
    justify-self: end;
    padding: 0;
    margin: 0 1em 1em 0;
}

#backtotop{
    width: 2vw;
    filter: invert(1);
}

#backtotop:hover{
    filter: invert(0);
}


@media (max-aspect-ratio:1/1) {
    .primaryBTN, .secondaryBTN{
        padding: 0.5em 1em;
        justify-self: center;
        font-size: 1em;
    }

    .header{
        font-size: 7.5px;
    }

    #logoImg{
        width: 40px;
    }

    #homepage p{
        font-size: 10px;
    }

    #navbar{
        margin-left: 2vw;
    }

    #optprofile{
        width: 7vw;
        height: 7vw;
    }

    .cover{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: none;
        /* margin-bottom: 5vh; */
        margin: 0;
    }

    .cover img{
        grid-row-start: 1;
        width: 100vw;
        max-width: 100%;
        width: 70vw;
        /* margin: 10vh 0 5vh 0; */
    }

    .texts{
        grid-row-start: 2;
        max-width: 100%;
    }

    .headline{
        font-size: 2em;
    }

    .subhead{
        font-size: 1.5em;
    }

    .pers{
        width: 80vw;
        font-size: 1em;
    }

    .description{
        margin: 5vh 0;
        gap: 0;
    }

    .services{
        grid-template-columns: 1fr;
        gap: 2em;
        width: 100vw;
        max-width: 100%;
        justify-self: start;
    }

    .services > div img{
        width: 30vw;
    }

    .services p{
        font-size: 3em;
        height: fit-content;
        margin: 0;
    }

    .aboutus{
        grid-template-rows: auto auto;
        /* justify-items: center; */
        font-size: 0.7em;
    }

    .us-text{
        font-size: 1em;
    }

    .signup{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .signup img{
        width: 100vw;
        max-width: 100%;
        height: 30vw;
        object-fit: cover;
    }

    .convince{
        width: fit-content;
        margin-bottom: 5vh;
    }

    .convince p{
        justify-self: center;
        font-size: 1em;
    }

    .convince li{
        font-size: 1em;
        text-indent: 2em;
    }

    .donation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        margin: auto;
        justify-items: center;
    }

    .donation img{
        display: block;
        width: 40vw;
        justify-self: center;
        margin-bottom: 2vh;
    }

    .donation-text{
        font-size: 1em;
    }

    .support{
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    .supportText{
        display: grid;
        font-size: 1em;
        width: 45vw;
        gap: 3vh;
    }
    
    .supportText p:nth-of-type(1){
        font-weight: 600;
        font-size: 1.2em;
    }


    .footer{
        display: block;
        padding-left: 1em;
    }

    .footer *{
        width: fit-content;
    }

    .footer > div{
        margin-bottom: 0;
        color: rgb(51, 51, 51);
        width: fit-content;
    }

    .footer h5{
        margin: 0;
    }

    .footer div a{
        margin-bottom: 1.5vh;
    }

    .footer #name{
        grid-column: 1 / span 4;
        grid-row-start: 1;
        margin-bottom: 2vh;
    }

    #name #coffee{
        width: 5vw;
    }

    #name #insta{
        width: 8vw;
    }

    #customerservice{
        grid-column-start: 1;
    }

    #name > p{
        width: fit-content;
    }

    #name, #team, #customerservice, #more{
        padding: 0;
        margin: 0;
    }

    #more{
        grid-row-start: 2;
        grid-column-start: 2;
    }

    #backtotop{
        display: none;
    }

    #trademark{
        display: block;
        width: fit-content;
        height: fit-content;
        padding: 0;
    }
}