@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    max-height: 100%;
}

/* GOMBOK */
.button{
    display: grid;
    width: fit-content;
    align-self: center;
    background-color: #ffbc2f;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
}

.primaryBTN{
    background-color: #ffbc2f;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: white;
    font-size: 1.5em;
    border: 3px solid transparent;
    cursor: pointer;
    
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.tertiaryBTN, .tertiaryBTN a, .tertiaryBTN p{
    display: inline-block;
    color: #000;
    text-decoration: none;
    height: fit-content;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-bottom: 0;
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after, .tertiaryBTN p:hover::after{
    transform: scaleX(1);
}

.tertiaryBTN:hover, .tertiaryBTN a:hover, .tertiaryBTN p:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after, .tertiaryBTN p::after{
    display: block;
    content: '';
    border-bottom: solid 2px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    margin-top: -2px;
}

.back{
    width: fit-content;
    height: fit-content;
    
}

.back a{
    font-size: 0;
}

.back img{
    width: 4vw;
    padding: 0.5vw 0 0 0.5vw;
}

.signin{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    /* width: fit-content; */
    height: 90vh;
    justify-self: center;
    align-self: center;
}

.image{
    background-image: url('/_images/logopattern.svg');
    align-content: center;
    grid-row: 1 / span 2;
    grid-column-start: 2;
}

.image img{
    width: 100%;
}

.title{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    align-self: end;
}


.form-floating{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
    min-width: 25vw;
    align-self: center;
}

.form-control{
    border: #d3d3d3 2px solid;
    /* position: absolute; */
}

.form-control:focus{
    border: #999999 2px solid;
}

.nickname, .email, .password{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2em;
}

#pswFeedback{
    color: red;
}

#togglePassword{
    /* position: relative; */
    height: 1.8em;
    float: right;
    /* margin: 1em 1em 0 0; */
    margin: 2px 5px 0 0;
    cursor: pointer;
    opacity: 0.7;
}

.tooltip-inner{
    max-width: fit-content;
}

label{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
}

#rememberme{
    vertical-align: middle; 
    position: relative; 
    bottom: 1.5px;
    accent-color: #ffbc2f;
    
}

.rememberme{
    justify-self: end;
}


.account{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    align-self: end;
}


@media (max-aspect-ratio:1/1) {
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        /* gap: 0px; */
        height: 100vh;
    }

    .signin{
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        justify-self: center;
        width: 80vw;
    }

    .primaryBTN{
        padding: 0.5em 1em;
        justify-self: center;
        font-size: 1em;
    }

    .back img{
        width: 10vw;
    }
}