*{
    padding: 0;
    margin: 0;
}

html{
    height: 100vh;
}

.wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    /* max-height: 100%; */
    /* grid-template-columns: repeat(3, 1fr); */
}

.primaryBTN{
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    font-size: 1.5rem;
    border: 3px solid transparent;
    cursor: pointer;
    width: fit-content;
    justify-self: center;
    margin: 0 1em 1em 0;
    position: fixed;
    bottom: 0;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.secondaryBTN{
    background-color: white;
    font-family: "Albert Sans";
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
    color: #ffbc2f;
    font-size: 1em;
    border: 3px solid transparent;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    border: 3px solid #ffbc2f;
}

.secondaryBTN:hover{
    background-color: #ffbc2f;
    color: white;
    border: 3px solid #ffbc2f;
}

/* ALSÓ HATÁR ANIMÁCIÓ */
.tertiaryBTN, .tertiaryBTN a{
    text-decoration: none;
    display: inline-block;
    font-family: "Albert Sans";
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
    
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 3px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; 
}

.header{
    display: grid;
    background-color: transparent;
    max-width: 100%;
    grid-template-columns: auto 1fr;
    height: fit-content;
    /* position: absolute; */
    
    /* margin-top: 1em; */
}



.logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo img{
    width: 5vw;
}

.logo p{
    font-family: "Palanquin";
    text-transform: uppercase;
    align-self: center;
}

.title{
    font-size: 1em;
    align-self: center;
    text-transform: uppercase;
    font-family: "Palanquin";
}

.navigation{
    height: auto;
    float: right;
}

.navigation a{
    font-size: 1.3em;
    font-weight: bold;
    list-style: none;
    /* float: left; */
    margin: 1rem 2rem;
    color: #ffbc2f;
    /* border-radius: 100px; */
    height: fit-content;
    
}

.settings{
    display: grid;
    /* max-height: 90vh !important; */
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    /* max-height: 100%; */
}


.profile{
    display: grid;
    height: fit-content;
    width: 25vw;
    grid-template-rows: fit-content;
    /* width: 30vw; */
    justify-self: center;
    /* text-align: center; */
    /* sorok: 1, 2kep, 3textarea, 4remchars 5idezojel */
}



.sectionTitle{
    align-self: center;
    font-size: 1.5em;
    opacity: 0.5;
    font-family: "Red Hat Text";
    text-transform: uppercase;
    text-align: center;
}

.sectionTitle:nth-of-type(3){
    grid-column: 1 / span 2;
}

.profilePicture{
    width: 10vw;
    justify-self: center;
    border-radius: 50%;
}

.profile img:nth-of-type(2){
    width: 5vw;
    justify-self: center;
}

#nickname{
    justify-self: center;
    font-family: "Palanquin";
    font-size: 2em;
}


textarea{
    resize: none;
    border: 2px #d3d3d3 solid;
    padding: 0.2em 0 0.2em 0.2em;
    /* width: 60%; */
    font-family: "Red Hat Text";
    font-size: 1em;
    color: #ffbc2f;
}

textarea:focus{
    outline: none;
    border: rgba(240, 192, 35, 1) 2px solid !important;
    padding: 0.2em 0 0.2em 0.2em;
}

#remaining-chars{
    font-family: "Red Hat Text";
    font-size: 0.8em;
    color: #ffbc2f;
    margin-top: 3px;
    visibility: hidden;
    /* float: right; */
    height: 20px;
    /* display: none; */
}


.data{
    display: grid;
    /* width: 40vw; */
    /* gap: 5em; */
    font-family: "Red Hat Text";
    /* justify-self: end; */
    height: fit-content;
    gap: 2em;
    /* gap: 3vh; */
    /* grid-template-rows: auto repeat(4, 1fr); */
}

.nameEmailPsw{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    border: 1px solid #ffbc2f;
    padding: 1em;
    /* border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

.nameEmailPsw p{
    align-self: center;
    width: fit-content;
}

.nameEmailPsw a{
    align-self: center;
}

input{
    /* border-bottom: rgba(228, 228, 228, 1) 2px solid; */
    /* width: 50%; */
    /* height: 70%; */
    padding: 0.1em 0 0.1em 0.2em;
    color: #ffbc2f;
    font-family: "Red Hat Text";
    font-size: 1.1em;
    outline: none;
    border: 1px solid lightgray;
    align-self: center;
    /* justify-self: end; */
    /* width: 10vw; */
}

input:focus{
    outline: none;
    border: rgba(240, 192, 35, 1) 1px solid !important;
}

.nameEmailPsw a{
    color: #ffbc2f;
}


.gender{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-row: 1 / span 2; */
    /* width: 1fr; */
    /* justify-content: center; */
    /* grid-template-rows: auto auto; */
}

.gender p{
    align-self: center;
    /* height: fit-content; */
}

select{
    /* grid-column: 2; */
    /* grid-row: 2; */
    grid-row: span 2;
    align-self: center;

    color: #ffbc2f;
    border: 1px solid #ffbc2f;
    font-family: "Red Hat Text";
    font-size: 1em;
    align-self: center;
    
    /* grid-column: 1 / span 2; */
    /* text-transform: uppercase; */
    width: 100%;
    /* justify-self: start; */
    /* border-radius: 0; */
}

select:focus{
    /* border: none; */
    outline: none;
}

.show input{
    accent-color: #ffbc2f;
    vertical-align: middle;
}

.show label{
    vertical-align: middle;
}

.birthdate input:active{
    border: 1px solid #ffbc2f;
}

.birthdate{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.birthdate input{
    /* vertical-align: middle; */
    grid-row: span 2;
    align-self: center;
    
}

summary{
    font-family: "Red Hat Text";
    font-size: 1em;
    width: fit-content;
    user-select: none;
    cursor: pointer;
}

.interests{
    display: grid;
    grid-column: 1 / span 2;
    border: 1px solid black;
    width: 50vw;
    justify-self: center;
    gap: 1em;
}

.interests p{
    font-family: "Red Hat Text";
}

.interests button{
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1.8em;
    font-family: "Albert Sans";
    font-size: 1.1em;
    border: 5px solid #ffbc2f;
    cursor: pointer;
    margin: 5px;
}

.interests button:hover{
    /* filter: brightness(0.9); */
    /* background-color:; */
    /* opacity: 0.5; */
}

@media (max-aspect-ratio:1/1) {
    .secondaryBTN{
        padding: 0.5rem 1rem 0.5rem 1rem;
        justify-self: center;
        /* text-align: center; */
        font-size: 15px;
    }

    .header{
        display: none;
    }

    .settings{
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
    }
    
    .profile{
        /* width: 100vw; */
    }

    .profile img{
        width: 30vw;
    }

    #nickname{
        font-size: 1em;
    }

    .nameEmailPsw{
        grid-template-columns: none;
        grid-template-rows: auto;
        justify-content: center;
        
    }

    textarea{
        height: 15vh;
    }

    .nameEmailPsw input{
        width: 50vw;
        
    }

    select{
        width: fit-content;
    }
}

.notSelected{
    background-color: white;
    color: #ffbc2f;
}

.selected{
    background-color: #ffbc2f;
    color: white;
}

.emoji{
    font-family: "Noto Color Emoji";
}