@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100vw;
    max-width: 100%;
}

.emoji{
    font-family: "Noto Color Emoji";
}

.secondaryBTN{
    background-color: white;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 1em 2em;
    color: #ffbc2f;
    font-size: 1em;
    border: 3px solid transparent;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    border: 3px solid #ffbc2f;
}

.secondaryBTN:hover{
    background-color: #ffbc2f;
    color: white;
    border: 3px solid #ffbc2f;
}

.tertiaryBTN, .tertiaryBTN a{
    display: inline-block;
    color: black;
    text-decoration: none;
    height: fit-content;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 2px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    margin-top: -2px;
}


.header{
    display: grid;
    /* width: 100vw; */
    max-width: 100%;
    height: fit-content;
    grid-template-columns: auto 1fr 1fr;
    background-color: transparent;
    align-items: center;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 15px;
}

#homepage{
    text-decoration: none;
    color: #000;
    height: fit-content;
}

#homepage p{
    margin: 0;
    font-size: 15px;
}

.logo{
    text-align: center;
    padding: 0.5vw;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;
    height: fit-content;
}

#logoImg{
    width: 50px;
    /* margin: auto; */
}

#navbar{
    display: inline-block;
    margin-left: 3vw;
    width: fit-content;
}

#navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    justify-items: center;
    width: fit-content;
    gap: 4vw;
}

#navigation li{
    list-style: none;
    width: fit-content;
}

#loginNav{
    display: grid;
    justify-content: end;
    padding: 0;
    margin: 0;
    /* align-content: center; */
}

#loginNav li{
    list-style: none;
    margin-right: 1vw;
}

#optprofile{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: url("/_images/missingpicture.svg");
    background-position: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    cursor: pointer;
}


.settings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    max-width: 100%;
    margin-top: 5vh;
}

.profile{
    display: grid;
    height: fit-content;
    width: 30vw;
    grid-template-rows: fit-content;
    justify-self: center;
    gap: 1vh;
}

.sectionTitle{
    align-self: center;
    font-size: 1.5em;
    opacity: 0.5;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    grid-column: 1 / span 2;
}

.sectionTitle:nth-of-type(3){
    grid-column: 1 / span 2;
}

.profilePicture{
    width: 10vw;
    justify-self: center;
    border-radius: 50%;
}

.profile p{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
}

#nickname{
    justify-self: center;
    font-family: "Palanquin", Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin: 0;
}

#textarea{
    resize: none;
    height: 21vh;
}

#remaining-chars{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: #ffbc2f;
    margin-top: 0.1em;
    height: 0.8em;
    justify-self: end;
}


.data{
    display: grid;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    width: 40vw;
    justify-self: center;
    height: fit-content;
    width: 40vw;
    /* margin: 2vh 2vw 0 0; */
    gap: 3vh;
}

.data > div{
    /* display: grid; */
}

.data > div > p{
    align-self: center;
    margin: 0;
}

.form-floating, .form-select{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
}

.form-control:focus, .form-select:focus{
    color: #ffbc2f;
    border: #ffbc2f 2px solid;
}

.form-control{
    color: #ffbc2f;
    border: #d3d3d3 2px solid;
}

#ageDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
    /* gap: 0.5vw; */
}

#ageDiv .show{
    grid-column: 1 / span 2;
    height: fit-content;
}

.form-select{
    color: #ffbc2f;
    border: 2px solid #ffbc2f !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#password a, #password a:visited{
    color: #ffbc2f;
}

.show input{
    accent-color: #ffbc2f;
    vertical-align: middle;
}

.show label{
    vertical-align: middle;
}

#showAge{
    grid-column: 1 / span 2;
}

#info{
    display: block;
    justify-self: center;
    opacity: 0.7;
    margin-bottom: 5vh;
}


.search input{
    outline: none;
    padding: 0;
    margin: 0;
}

.search button{
    border: none;
    outline: none;
    cursor: pointer;
    width: 2em;
    height: 2em;
    
}

.interests{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-column: 1 / span 2;
    row-gap: 3vh;
    width: 90vw;
    justify-self: center;
}

.interests p{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2em;
    justify-self: center;
    margin: 0;
}

.interests button{
    padding: 0.5em 1em;
    border-radius: 1.8em;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: 5px solid #ffbc2f;
    cursor: pointer;
    width: fit-content;
    margin: 0.1em;
}

.interests > div{
    justify-self: center;
    width: fit-content;
}

.notSelected{
    background-color: white;
    color: #ffbc2f;
}

.selected{
    background-color: #ffbc2f;
    color: white;
}

#actions{
    display: grid;
}

.saveBTN{
    background-color: #ffbc2f;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
    color: white;
    font-size: 1.5rem;
    border: 3px solid transparent;
    cursor: pointer;
    justify-self: center;
    width: fit-content;
    margin: 1em 0;
}

.saveBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.deleteBTN{
    background-color: white;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 1em 2em;
    color: #ff552f;
    font-size: 1em;
    cursor: pointer;
    width: fit-content;
    justify-self: end;
    margin: 0 1em 1em 0;
    border: 3px solid #ff552f;
}

.deleteBTN:hover{
    background-color: #ff552f;
    color: white;
    border: 3px solid #ff552f;
}

.footer{
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    background-color: #ffbc2f;
    align-self: end;
    max-width: 100%;
}


.footer > div{
    height: fit-content;
    padding: 2vh 0 0 2vh;
    margin-bottom: 0;
    color: rgb(51, 51, 51);
}

.footer > div > a{
    text-decoration: none;
    color: black;
}

.footer > div > a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    width: fit-content;
    margin-bottom: 1em;
}

.footerlink > a:hover{
    color: rgb(51, 51, 51);
}

.footerlink a:hover::after{
    transform: scaleX(1);
}

.footerlink a::after{
    display: block;
    content: '';
    border-bottom: solid 2px rgb(51, 51, 51);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-top: -2px;
}

#name, #team, #customerservice, #more{
    padding: 4vh;
}

#socialmedia a{
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    font-size: 0;
}

#name{
    display: grid;
}

#name #coffee{
    width: 2vw;
}

#coName{
    font-size: 1.7em;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;;
}

#coSlogan{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
}

#socialmedia{
    margin-bottom: 0;
}

#team{
    width: fit-content;
}

#more{
    display: grid;
}

#trademark{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 4;
    margin: 0;
    padding: 0;
}

#trademark p{
    align-self: end;
    width: fit-content;
    padding: 0 0 1vw 1vw;
    margin: 0;
}

#trademark a{
    grid-column: 2 / span 4;
    justify-self: end;
    padding: 0;
    margin: 0 1em 1em 0;
}

#backtotop{
    width: 2vw;
    filter: invert(1);
}

#backtotop:hover{
    filter: invert(0);
}




@media (max-aspect-ratio:1/1) {
    .secondaryBTN{
        padding: 0.5em 1em;
        justify-self: center;
        font-size: 15px;
    }

    .wrapper{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
    }

    .header{
        font-size: 11px;
    }

    #logoImg{
        width: 40px;
    }

    #homepage p{
        font-size: 10px;
    }

    #navbar{
        margin-left: 2vw;
    }

    #optprofile{
        width: 7vw;
        height: 7vw;
    }

    .settings{
        display: grid;
        grid-template-columns: 1fr;
    }

    .profile{
        width: fit-content;
        justify-self: center;
    }

    #textarea{
        resize: none;
        width: 80vw;
        height: 24vh;
    }

    .data{
        display: grid;
        grid-row-start: 2;
        width: 90vw;
        max-width: 100%;
        margin: 0 0;
    }

    .data{
        display: grid;
    }
    
    .data > div{
        display: grid;
    }
    
    .data > div > p{
        align-self: end;
        margin: 0;
    }

    #ageDiv .form-floating{
        width: 100%;
        justify-self: center;
    }

    .interests{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        /* row-gap: 1vh; */
    }

    .interests button{
        padding: 0.2em 0.5em;
        border-radius: 1.8em;
        font-family: "Albert Sans", Arial, Helvetica, sans-serif;
        font-size: 1em;
        border: 3px solid #ffbc2f;
        cursor: pointer;
        width: fit-content;
        margin: 3px;
    }

    .profile img{
        width: 30vw;
    }

    #nickname{
        font-size: 1em;
    }

    .nameEmailPsw{
        grid-template-columns: none;
        grid-template-rows: auto;
        justify-content: center;
        
    }

    textarea{
        height: 15vh;
    }

    .nameEmailPsw input{
        width: 50vw;
        
    }

    select{
        width: fit-content;
    }

    .saveBTN{
        background-color: #ffbc2f;
        font-family: "Albert Sans", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        padding: 0.5em 1em;
        color: white;
        font-size: 1.2rem;
        border: 3px solid transparent;
        cursor: pointer;
        justify-self: center;
        width: fit-content;
        /* grid-column: 1 / span 2; */
        margin: 2em 0;
    }
    
    .saveBTN:hover{
        background-color: white;
        color: #ffbc2f;
        border: 3px solid #ffbc2f;
    }

    .deleteBTN{
        background-color: white;
        font-family: "Albert Sans", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        padding: 0.4em 0.9em 0.3em 0.9em;
        color: #ff552f;
        font-size: 0.8em;
        cursor: pointer;
        width: fit-content;
        justify-self: end;
        margin: 0 0.5em 0.5em 0;
        border: 3px solid #ff552f;
    }
    
    .deleteBTN:hover{
        background-color: #ff552f;
        color: white;
        border: 3px solid #ff552f;
    }

    .footer{
        display: block;
        padding-left: 1em;
    }

    .footer *{
        width: fit-content;
    }

    .footer > div{
        margin-bottom: 0;
        color: rgb(51, 51, 51);
        width: fit-content;
    }

    .footer h5{
        margin: 0;
    }

    .footer div a{
        margin-bottom: 1.5vh;
    }

    .footer #name{
        grid-column: 1 / span 4;
        grid-row-start: 1;
        margin-bottom: 2vh;
    }

    #name #coffee{
        width: 5vw;
    }

    #customerservice{
        grid-column-start: 1;
    }

    #name > p{
        width: fit-content;
    }

    #name, #team, #customerservice, #more{
        padding: 0;
        margin: 0;
    }

    #more{
        grid-row-start: 2;
        grid-column-start: 2;
    }

    #backtotop{
        display: none;
    }

    #trademark{
        display: block;
        width: fit-content;
        height: fit-content;
        padding: 0;
    }
}