@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100vh;
}

.secondaryBTN{
    background-color: white;
    font-family: "Albert Sans";
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
    color: #ffbc2f;
    font-size: 1em;
    border: 3px solid transparent;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    border: 3px solid #ffbc2f;
}

.secondaryBTN:hover{
    background-color: #ffbc2f;
    color: white;
    border: 3px solid #ffbc2f;
}

/* ALSÓ HATÁR ANIMÁCIÓ */
#header{
    display: grid;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: auto auto;
    background-color: #ffbc2f;
    margin-bottom: 3vh;
    /* position: absolute; */
}

#logo{
    display: grid;
    grid-template-columns: auto 1fr;
    
}

#logo a{
    align-self: center;
}

#logo img{
    width: 4em;
    align-self: center;
}

#main{
    display: none;
}


#title{
    font-size: 1em;
    align-self: center;
    text-transform: uppercase;
    font-family: "Palanquin";
}

#navigation{
    justify-self: end;
    /* width: fit-content; */
    
}

#navigation ul{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-self: end;
    justify-content: center;
    /* width: fit-content; */
}

#navigation a{
    font-size: 1.5em;
    font-weight: bold;
    margin: 1vw 3vw;
    
    /* height: fit-content; */
}

#navigation li{
    list-style: none;
    width: fit-content;
    justify-self: center;
}

.tertiaryBTN, .tertiaryBTN a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-family: "Albert Sans";
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
    
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: white;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; 
}

@media (max-aspect-ratio:1/1) {
    #logo{
        display: grid;
    }

    #logo img{
        width: 4em;
        align-self: center;
    }
    
    #title{
        font-size: 1em;
        align-self: center;
        text-decoration: none;
        color: black;
        font-family: "Palanquin";
    }

    #header{
        position: inherit;
        
    }

    #main{
        display: block;
    }
    
    #main button img{
        width: 5vw;
    }
    
    #main button{
        height: fit-content;
        background-color: transparent;
        border: none;
        margin: 1em 1em 0 0;
        display: block;
        justify-self: end;
        position: absolute;
        right: 0;
        z-index: 2;
    }
    
    
    #navigation li a{
        text-decoration: none;
        color: white;
        list-style: none;
    }
    
    #navigation ul{
        display: block;
        grid-row-start: 2;
        margin: 0;
    }
    
    #navigation{
        display: grid;
        grid-template-rows: 2em 1fr;
        position: absolute;
        height: 100vh;
        max-height: 100%;
        justify-self: end;
        font-size: 1.5em;
        background-color: orange;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
        width: 0;
        right: 0;
        font-family: "Albert Sans"
    }
    
    #main{
        transition: margin-right .5s;
    }
    
    #close{
        display: none;
    }
    
    .navigation a{
        font-size: 1.3em;
        font-weight: bold;
        color: black;
        height: fit-content;
    }
}

.settings{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    max-width: 100%;
    margin-top: 1vh;
}

.profile{
    display: grid;
    height: fit-content;
    width: 40vw;
    grid-template-rows: fit-content;
    justify-self: center;
    /* gap: 1vh; */
}



.sectionTitle{
    align-self: center;
    font-size: 1.5em;
    opacity: 0.5;
    font-family: "Red Hat Text";
    text-transform: uppercase;
    text-align: center;
    grid-column: 1 / span 2;
}

.sectionTitle:nth-of-type(3){
    grid-column: 1 / span 2;
}

.profilePicture{
    width: 10vw;
    justify-self: center;
    border-radius: 50%;
}

.profile p{
    font-family: "Red Hat Text";
}

.profile p:nth-of-type(2){
    text-align: center;
    margin-top: 0.5em;
    text-transform: uppercase;
    opacity: 0.7;
}

#nickname{
    justify-self: center;
    font-family: "Palanquin";
    font-size: 2em;
}

textarea{
    resize: none;
    border: 2px #d3d3d3 solid;
    padding: 0.2em 0 0.2em 0.2em;
    width: 60%;
    justify-self: center;
    font-family: "Red Hat Text";
    font-size: 1em;
    color: #ffbc2f;
}

textarea:focus{
    outline: none;
    border: rgba(240, 192, 35, 1) 2px solid !important;
    padding: 0.2em 0 0.2em 0.2em;
}

#remaining-chars{
    font-family: "Red Hat Text";
    font-size: 0.8em;
    color: #ffbc2f;
    margin-top: 3px;
    visibility: hidden;
    /* height: 1em; */
    justify-self: center;
    width: 60%;
}


.data{
    display: grid;
    font-family: "Red Hat Text";
    row-gap: 5vh;
    height: fit-content;
    margin: 2vh 2vw 0 0;
}


.data > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data > div > p{
    align-self: end;
}

input{
    padding: 0.1em 0 0.1em 0.2em;
    color: #ffbc2f;
    font-family: "Red Hat Text";
    font-size: 1.1em;
    outline: none;
    border: 1px solid lightgray;
    align-self: center;
}

input:focus{
    outline: none;
    border: rgba(240, 192, 35, 1) 1px solid !important;
}

#password a, #password a:visited{
    color: #ffbc2f;
}

select{
    /* grid-row: span 2;
    align-self: center; */
    color: #ffbc2f;
    border: 1px solid #ffbc2f;
    font-family: "Red Hat Text";
    font-size: 1em;
    align-self: center;
    width: 100%;
}

select:focus{
    outline: none;
}

.show input{
    accent-color: #ffbc2f;
    vertical-align: middle;
}

.show label{
    vertical-align: middle;
}

#info{
    /* grid-column: 1; */
    display: block;
    justify-self: center;
    opacity: 0.7;
}

.search input{
    outline: none;
    padding: 0;
    margin: 0;
}

.search button{
    border: none;
    outline: none;
    cursor: pointer;
    width: 2em;
    height: 2em;
    
}

/* summary{
    font-family: "Red Hat Text";
    font-size: 1em;
    width: fit-content;
    user-select: none;
    cursor: pointer;
} */

.interests{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-column: 1 / span 2;
    row-gap: 3vh;
    width: 90vw;
    justify-self: center;
    /* text-align: center; */
}

.interests p{
    font-family: "Red Hat Text";
    font-size: 1.2em;
    justify-self: center;
}

.interests button{
    padding: 0.5em 1em;
    border-radius: 1.8em;
    font-family: "Albert Sans";
    font-size: 1.2em;
    border: 5px solid #ffbc2f;
    cursor: pointer;
    width: fit-content;
    margin: 5px;
}

.interests > div{
    justify-self: center;
    width: fit-content;
}

/* .interests button:hover{
    filter: brightness(0.9);
    background-color:;
    /* opacity: 0.5;
} */

.notSelected{
    background-color: white;
    color: #ffbc2f;
}

.selected{
    background-color: #ffbc2f;
    color: white;
}

#actions{
    display: grid;
}

.saveBTN{
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    font-size: 1.5rem;
    border: 3px solid transparent;
    cursor: pointer;
    justify-self: center;
    width: fit-content;
    /* grid-column: 1 / span 2; */
    margin: 1em 0;
}

.saveBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.deleteBTN{
    background-color: white;
    font-family: "Albert Sans";
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
    color: #ff552f;
    font-size: 1em;
    cursor: pointer;
    width: fit-content;
    justify-self: end;
    margin: 0 1em 1em 0;
    border: 3px solid #ff552f;
}

.deleteBTN:hover{
    background-color: #ff552f;
    color: white;
    border: 3px solid #ff552f;
}

.footer{
    text-align: center;
    max-width: 100%;
    background-color: #ffbc2f;
    height: fit-content;
}

.pages a{
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    display: inline-block;
    font-family: "Albert Sans";
    width: fit-content;
}

.pages a:hover::after{
    transform: scaleX(1);
    
}

.pages a::after{
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    
}

.trademark{
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-self: center;
    color: white;
    font-family: "Red Hat Text";
}

.emoji{
    font-family: "Noto Color Emoji";
}

.navbar .emoji{
    font-size: 0.7em;
    vertical-align: middle;
}

@media (max-aspect-ratio:1/1) {
    .secondaryBTN{
        padding: 0.5em 1em 0.5em 1em;
        justify-self: center;
        font-size: 15px;
    }

    .header{
        display: none;
    }

    .wrapper{
        /* grid-template-columns: none; */
    }

    .settings{
        display: grid;
        grid-template-columns: 1;
        width: fit-content;
        height: fit-content;

    }

    .profile{
        grid-row-start: 1;
        width: 100vw;
    }

    .data{
        display: grid;
        grid-row-start: 2;
        /* width: 100vw; */

    }

    .interests{
        /* display: grid; */
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        row-gap: 1vh;
        /* width: 95vw; */
        /* justify-self: center; */
    }

    .interests button{
        padding: 0.2em 0.5em 0.2em 0.5em;
        border-radius: 1.8em;
        font-family: "Albert Sans";
        font-size: 1em;
        border: 3px solid #ffbc2f;
        cursor: pointer;
        width: fit-content;
        margin: 3px;
    }

    .profile img{
        width: 30vw;
    }

    #nickname{
        font-size: 1em;
    }

    .nameEmailPsw{
        grid-template-columns: none;
        grid-template-rows: auto;
        justify-content: center;
        
    }

    textarea{
        height: 15vh;
    }

    .nameEmailPsw input{
        width: 50vw;
        
    }

    select{
        width: fit-content;
    }

    .saveBTN{
        background-color: #ffbc2f;
        font-family: "Albert Sans";
        text-transform: uppercase;
        padding: 0.5em 1em;
        color: white;
        font-size: 1.2rem;
        border: 3px solid transparent;
        cursor: pointer;
        justify-self: center;
        width: fit-content;
        /* grid-column: 1 / span 2; */
        margin: 2em 0;
    }
    
    .saveBTN:hover{
        background-color: white;
        color: #ffbc2f;
        border: 3px solid #ffbc2f;
    }

    .deleteBTN{
        background-color: white;
        font-family: "Albert Sans";
        text-transform: uppercase;
        padding: 0.4em 0.9em 0.3em 0.9em;
        color: #ff552f;
        font-size: 0.8em;
        cursor: pointer;
        width: fit-content;
        justify-self: end;
        margin: 0 0.5em 0.5em 0;
        border: 3px solid #ff552f;
    }
    
    .deleteBTN:hover{
        background-color: #ff552f;
        color: white;
        border: 3px solid #ff552f;
    }

    .pages{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .pages a{
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    .trademark{
        font-size: 0.7rem;
    }  
}