*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    /* grid-template-columns: auto; */
    grid-template-rows: auto auto;
    /* height: 100vh; */
    /* max-height: 100vh; */
    /* overflow: hidden; */
}

.tertiaryBTN, .tertiaryBTN a{
    text-decoration: none;
    display: inline-block;
    font-family: "Albert Sans";
    width: fit-content;
    align-self: center;
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; 
}


#logo{
    width: 3vw;
}

.title{
    /* height: fit-content; */
    font-size: 1.5em;
    align-self: center;
    text-decoration: none;
    color: white;
    font-family: "Palanquin";
}

.header button img{
    width: 2vw;
    
}

.header button{
    height: fit-content;
    background-color: transparent;
    border: none;
    margin: 1em 1em 0 0;
    display: block;
    justify-self: end;
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
}


#navigation li{
    list-style: none;
    width: 100%;
    display: block;
    padding: 1em;
    /* transition: 0.3s; */
}

#navigation li a{
    text-decoration: none;
    color: white;
    /* padding: 2dvh; */
}

#navigation ul{
    grid-row-start: 2;
}

#navigation{
    display: grid;
    grid-template-rows: 2em 1fr;
    position: absolute;
    height: 100vh;
    max-height: 100%;
    justify-self: end;
    font-size: 1.5em;
    background-color: orange;
    z-index: 1;
    /* position: relative; */
    overflow-x: hidden;
    transition: 0.5s;
    width: 0;
    /* top: 0; */
    right: 0;
    /* text-align: center; */
    font-family: "Albert Sans"
}

#main{
    transition: margin-right .5s;
    
}

#close{
    display: none;
}

.navigation a{
    font-size: 1.3em;
    font-weight: bold;
    /* float: left; */
    /* margin-right: 4em; */
    color: black;
    height: fit-content;
    align-self: center;
    justify-self: center;
    /* border-radius: 100px; */
}

/* .activeLink{
    display: grid;
    grid-template-columns: auto 1fr;
    text-decoration: none;
    color: black;
    font-family: "Palanquin";
    text-transform: uppercase;
} */

.chatArea{
    display: grid;
    grid-template-columns: 20vw 50vw auto auto;
}

.saved{
    display: grid;
    height: fit-content;
    overflow-y:scroll;
    max-height: 100%;
    height: 100vh;
    /* grid-template-rows: min-content; */
    /* width: 20vw; */
    /* gap: 1em; */
}

.savedChat{
    display: grid;
    grid-template-columns: auto 1fr;
    height: fit-content;
    font-size: 1.2em;
    /* gap: 1em; */
    /* box-shadow: 0 0 1px #ffbc2f; */
    border-top: 1px solid #dadada;
}

.savedChat:hover{
    background-color: lightgray;
    transition: 400ms;
    cursor: pointer;
}

/* Aktív chatnek accent color háttér. */

.savedChat p{
    align-self: center;
    font-family: "Palanquin";
    font-size: 1em;
    margin-left: 1em;
}

.savedChat img{
    width: 5vw;
    border-radius: 3em;
    margin: 0.5em 0 0.5em 1em;
}

#startChat{
    
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #ebebeb;
    color: gray;
    text-transform: uppercase;
    transition: 0.35s;
    cursor: pointer;
}

#startChat img{
    width: 3vw;
    display: block;
    justify-self: center;
    margin: 1em 0;
}

#startChat:hover{
    /* color: black; */
    color: white;
    background-color: #fdd275;
    /* background-color: #fff8e9; */
    /* background-color: rgb(236, 236, 236); */
    /* filter: grayscale(0);     */
}

.chat{
    display: grid;
    /* grid-template-rows: repeat(3, auto); */
    /* padding: 1em; */
    border-right: 2px solid rgba(200, 200, 200, 0.3);
    border-left: 2px solid rgba(200, 200, 200, 0.3);
    /* display: flex; */
    /* flex-direction: column-reverse; */
}

.chat p{
    align-self: center;
}

.messages{
    font-family: 'Red Hat Text';
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    width: 100%;
}

.message1{
    background-color: #ffbc2f;
    margin-left: auto;
}

.message2{
    background-color: lightgray;
    margin-right: auto;
}

.message1, .message2{
    width: fit-content;
    padding: 0.5em;
    border-radius: 20px;
}

.message{
    display: grid;
    grid-template-columns: 1fr auto;
    height: fit-content;
    width: 100%;
    justify-self: end;
    align-self: end;
}

.message-bar{
    background-color: rgb(226, 226, 226);
    border: none;
    color: black;
    border-radius: 1em;
    font-family: "Red Hat Text";
    font-size: 1em;
    /* width: 100%; */
    margin-left: 1em;
    /* justify-self: center; */
    height: 4vh;
    max-height: 9vh;

    padding-left: 0.7em;

    direction: ltr;
    align-self: center;
    align-content: center;
    /* align-items: center; */

    resize: none;
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: auto;
}

.message-bar:focus{
    outline: #ffbc2f;
}

#sendBTN{
    display: grid;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    /* width: fit-content; */
    /* display: grid; */
    /* align-self: end; */
    /* justify-self: center; */
}

#sendBTN img{
    width: 2em;
    align-self: end;
    /* display: block;     */
    
}


.details{
    display: grid;
    /* grid-template-rows: auto; */
    justify-self: end;
    text-align: center;
    /* height: 70%; */
    /* gap: 2em; */
}

.details img{
    width: 10vw;
    border-radius: 50%;
    justify-self: center;
    align-self: end;
}

.data{
    display: grid;
    /* gap: 10px; */
    
}

#name{
    font-family: "Red Hat Text";
    font-size: 1.5em;
    font-weight: 600;
}

#birthday, #gender{
    font-family: "Red Hat Text";
    font-size: 1.2em;
}

#quote{
    font-family: "Red Hat Text";
    font-size: 1em;
}

#quoteP{
    width: 80%;
    justify-self: center;
    /* padding: 1.5em 1.5em 0 1.5em; */
}

#quoteP img{
    width: 4vw;
    opacity: 0.5;
}

#interests button{
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1.8em;
    font-family: "Albert Sans";
    font-size: 1.1em;
    border: 5px solid #ffbc2f;
    cursor: pointer;
    margin: 5px;
}

#save{
    justify-self: center;
    align-self: end;
    font-size: 2em;
    cursor: pointer;
    width: fit-content;
}

#report{
    justify-self: end;
    align-self: end;
    font-size: 1.5em;
    cursor: pointer;
    width: fit-content;

    margin: 0 0.5em 0.5em 0;
}

.emoji{
    font-family: "Noto Color Emoji";
    user-select: none;
    -webkit-user-select: none;
}

img{
    -webkit-user-drag: none;
    user-select: none;
}

#check{
    display: none;
}

.swal2-popup{
    font-family: "Red Hat Text";
}

.swal2-button{
    font-family: "Albert Sans";
}