@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-rows: auto 90vh;
    grid-template-columns: 25vw 50vw 25vw;
    height: 100vh;
    /* height: 100dvh; */
    max-height: 100%;
    width: 100vw;
    width: 100dvw;
    width: 100%;
}

.tertiaryBTN, .tertiaryBTN a{
    display: inline-block;
    /* color: #000; */
    color: #fff;
    text-decoration: none;
    height: fit-content;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    /* color: #ffbc2f; */
    color: #000;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    /* border-bottom: solid 2px #ffbc2f; */
    border-bottom: solid 2px #000;;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    margin-top: -2px;
}


.header{
    display: grid;
    min-height: fit-content;
    grid-template-columns: auto 1fr 1fr;
    background-color: transparent;
    align-items: center;
    text-transform: uppercase;
    background-color: #ffbc2f;
    font-size: 15px;
    grid-column: 1 / span 3;
}

#homepage{
    text-decoration: none;
    color: #000;
    height: fit-content;
}

#homepage p{
    margin: 0;
    font-size: 15px;
}

.logo{
    text-align: center;
    padding: 0.3vw 0.5vw 0.5vw 0.5vw;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;
    height: fit-content;
    /* color: #fff; */
}

#logoImg{
    width: 50px;
    filter: brightness(0) invert(1);
}

#navbar{
    display: inline-block;
    margin-left: 3vw;
    width: fit-content;
    /* color: #fff; */
}

#navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    justify-items: center;
    width: fit-content;
    gap: 4vw;
    cursor: default;
    /* color: #fff; */
}

#navigation li{
    list-style: none;
    width: fit-content;
    color: #fff;
}

#loginNav{
    display: grid;
    justify-content: end;
    padding: 0;
    margin: 0;
    /* color: #fff; */
}

#loginNav li{
    list-style: none;
    margin-right: 1vw;
}

#optprofile{
    width: 4vw;
    height: 4vw;
    border: 1px solid #dadada;
    border-radius: 50%;
    background-image: url("/_images/missingpicture.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: white;
    align-self: center;
}


.responsive-bar{
    display: none;
}


.saved{
    overflow-y: scroll;
    border-right: 1px solid #dadada;
}

.savedChat{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-content: center;
    /* height: 12vh; */
    font-size: 1.2em;
    border-top: 1px solid #dadada;
    height: fit-content;
    padding: 1.5vh;
}

.image{
    width: 5vw;
    height: 5vw;
    border: 1px solid #dadada;
    border-radius: 50%;
    background-image: url("/_images/missingpicture.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.savedChat:hover{
    background-color: lightgray;
    transition: 400ms;
    cursor: pointer;
}


.savedChat p{
    align-self: center;
    font-family: "Palanquin", Geneva, Verdana, sans-serif;;
    font-size: 1em;
    margin: 0 0 0 1em;
}

/* .savedChat img{
    width: 4vw;
    margin: 0.5em 0 0.5em 1em;
} */

.startChat{
    display: grid;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    /* height: 10vh; */
    /* top: 0; */
    justify-self: center;
    justify-content: center;
    align-content: center;
    background-color: #ebebeb;
    text-transform: uppercase;
    transition: 350ms;
    cursor: pointer;
    filter: grayscale(1);
    padding: 3vh 0;
}

.startChat img{
    width: 4vw;
}

.startChat:hover{
    color: white;
    background-color: #feecc5;
    filter: grayscale(0);
}

#placeholder{
    /* display: grid; */
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
    justify-self: center;
    text-align: center;
    opacity: 0.5;
    user-select: none;
    width: 70%;
    line-height: 1.5em;
}

.chat{
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
    max-height: 100%;
    /* max-height: 85vh; */
    /* max-height: 85dvh; */
    border-right: 1px lightgray solid;
    /* align-self: end; */
}

.chat p{
    align-self: center;
}

.chatArea{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: scroll;
    align-items: stretch;
    /* max-height: 90%; */
}

.condition{
    align-self: start;
    justify-self: center;
    justify-items: center;
    height: fit-content;
    width: 100%;
    padding: 1vh 0;
    /* border-bottom: 2px solid rgba(200, 200, 200, 0.2); */
}

#success, #waiting{
    display: grid;
    text-align: center;
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
    /* border-top: 2px solid rgba(200, 200, 200, 0.2); */
    border-bottom: 2px solid rgba(200, 200, 200, 0.2);
    user-select: none;
}

#success{
    display: none;
}

#waiting{
    display: none;
}

#waiting img{
    width: 7vw;
    filter: sepia(100%) saturate(10);
}

#success img{
    width: 6vw;
}

#successMSG, #warningMSG, #waitingMSG{
    font-size: 1em;
    margin-bottom: 0;
    opacity: 0.5;
}

.messages{
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
    margin: auto;
    width: 97%;
    box-sizing: border-box;
    flex: 2;
}

.message1{
    background-color: #ffbc2f;
    margin-left: auto;
}

.message2{
    background-color: lightgray;
    margin-right: auto;
}

.message1, .message2{
    width: fit-content;
    max-width: 30vw;
    padding: 0.5em;
    border-radius: 1.5em;
    hyphens: auto;
    word-wrap: break-word;
    margin-bottom: 2px;
}

#startChatAlert, #convoEndAlert{
    display: flex;
    width: 90%;
    justify-self: center;
    height: fit-content;
    flex: 3;
}

#startChatAlertLink{
    text-decoration: underline;
}

#startChatAlertLink:hover{
    color: orange;
    cursor: pointer;
}

#startChatAlert{
    /* display: none; */
}

#convoEndAlert{
    display: none;
}

.alert svg{
    width: 1em;
    display: inline-flex;
}

.message{
    display: grid;
    visibility: hidden;
    grid-template-columns: 1fr auto;
    height: fit-content;
    justify-self: center;
    background-color: #fff;
    width: 100%;
    padding: 1vh 2vh;
    /* align-self: end; */
    /* position: fixed; */
}

.message-bar{
    background-color: rgb(226, 226, 226);
    border: none;
    color: #000;
    border-radius: 1em;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
    height: 5vh;
    min-height: 3vh;
    max-height: 10vh;
    padding-left: 0.5em;
    direction: ltr;
    align-content: center;
    box-sizing: border-box;

    resize: none;
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: auto;
}

.message-bar:focus{
    outline: #a9a9a9 1px solid;
}

#sendBTN{
    /* display: grid; */
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-self: center;
    align-self: end;
    padding: 0 0.5vh 0.5vh 0.5vh;
    height: fit-content;
}

#sendBTN img{
    align-self: end;
    height: 4vh;
}

.detailshidden{
    background-image: url("/_images/logopattern.svg");
    opacity: 0.15;
}

.detailshidden > div{
    visibility: hidden;
}

.details{
    display: grid;
    text-align: center;
    border-left: 1px solid #dadada;
    width: 25vw;
}

#picname{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    /* gap: 1em; */
}

.details .profileImage{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    justify-self: center;
    align-self: end;
    border: 1px solid darkgray;
    background-image: url("/_images/missingpicture.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.data{
    display: grid;
    gap: 1vh;
}

#name{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    align-self: start;
    margin: 0;
}

#birthdayP, #genderP, #quoteP{
    margin: 0;
    padding: 0.5vh 0;
    justify-self: center;
    align-self: center;
    height: fit-content;
}

#birthday, #gender{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2em;
}

#quote{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
    text-wrap: balance;
    word-wrap: break-word;
    
}

#quoteP{
    max-width: 20vw;
    justify-self: center;
    max-height: 15vh;
    overflow-y: auto;
}

#quoteP img{
    width: 4vw;
    opacity: 0.5;
}

#interestsP{
    max-height: 20vh;
    overflow-y: auto;
    padding: 2vh 0;
    margin: 0;
    /* mask-image: linear-gradient(180deg, #0000 0%, #000000B5 20%, #000000B5 80%, #0000 100%); */
}


#interests button{
    padding: 0.5em 1em;
    border-radius: 1.8em;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    border: 5px solid #ffbc2f;
    cursor: pointer;
    margin: 5px;
    
}

.actions{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr auto;
    justify-content: space-around;
    /* padding-bottom: 1vh; */
    align-self: end;
}

#save{
    justify-self: center;
    font-size: 2em;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    grid-column: 1 / span 2;
    margin: 0;
}

#report{
    font-size: 1.5em;
    cursor: pointer;
    width: fit-content;
    margin: 0;
}

#delete{
    cursor: pointer;
    font-size: 1.5em;
    width: fit-content;
    margin: 0;
}

.emoji{
    font-family: "Noto Color Emoji";
    user-select: none;
    -webkit-user-select: none;
    width: fit-content;
}

.details .emoji{
    font-size: 2em;
}

img{
    -webkit-user-drag: none;
    user-select: none;
}

#check{
    display: none;
}

.swal2-popup{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
}

.swal2-button{
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
}


@media (max-aspect-ratio:1/1){
    .wrapper{
        grid-template-columns: none;
    }

    .header{
        display: none;
        font-size: 11px;
        position: relative;
        z-index: 1;
        height: 10vh;
        /* grid-row-start: 1; */
    }

    .tertiaryBTN, .tertiaryBTN a{
        display: inline-block;
        /* color: #000; */
        color: #000;
        text-decoration: none;
        height: fit-content;
        font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    }
    
    .tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
        transform: scaleX(1);
    }
    
    .tertiaryBTN:hover, .tertiaryBTN a:hover{
        /* color: #ffbc2f; */
        color: #fff;
        transition: 200ms;
    }
    
    .tertiaryBTN::after, .tertiaryBTN a::after{
        display: block;
        content: '';
        /* border-bottom: solid 2px #ffbc2f; */
        border-bottom: solid 2px #fff;
        transform: scaleX(0);
        transition: transform 200ms ease-in-out;
        margin-top: -2px;
    }

    #logoImg{
        width: 40px;
    }

    #homepage p{
        font-size: 10px;
    }

    #navbar{
        margin-left: 2vw;
    }

    #optprofile{
        width: 7vw;
        height: 7vw;
    }

    .responsive-bar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 10vh;
        z-index: 2;
        width: 100vw;
        justify-self: center;
        position: sticky;
        position: -webkit-sticky;
        padding: 1vh 2vh;
        background-color: #ffbc2f;
    }

    .responsive-bar #savedicon{
        width: 7vw;
        transition: transform 200ms;
    }

    .responsive-bar #openDetails{
        width: 6vw;
    }

    .responsive-bar #closeDetails{
        display: none;
        width: 5vw;
    }

    #sc, #d{
        height: fit-content;
        width: fit-content;
        align-self: center;
        cursor: pointer;
        /* display: grid; */
    }

    #sc{
        display: grid;
        grid-template-columns: auto auto;
    }

    #sc #navigation{
        display: none;
        gap: 6vw;
        margin-left: 5vw;
        height: fit-content;
        justify-items: center;
        align-self: center;
        width: 0;
        transition: 0.5s;
    }

    #sc img:hover, #d img:hover{
        filter: invert(1);
    }

    #d{
        justify-self: end;
    }

    .saved{
        transition: display 0.5s;
        width: 100vw;
        width: 100dvw;
        height: 90vh;
        height: 90dvh;
        display: none;
        z-index: 1;
        position: absolute;
        background-color: #fff;
        top: 10vh;
        
    }

    .savedChat{
        height: 15vh;
    }

    .savedChat img{
        height: 30vh;
    }

    .image{
        width: 10vw;
        height: 10vw;
    }

    .details{
        width: 100vw;
        width: 100dvw;
        height: 90vh;
        height: 90dvh;
        display: none;
        z-index: 1;
        right: 0;
        top: 10vh;
        position: absolute;
        background-color: #fff;
        align-content: center;
    }

    .details #name{
        height: fit-content;
        margin-top: 5px;
    }

    #picname, .data{
        margin-bottom: 3vh;
    }

    #quoteP{
        max-width: 80vw;
        /* border: 1px solid lightgray; */
        box-shadow: 1px 1px 5px darkgray;
        padding: 1vh;
    }

    

    .details .profileImage{
        width: 15vw;
        height: 15vw;
    }


    #startChat img{
        width: 10vw;
    }
    
    .chat{
        display: grid;
    }

    #startChatAlert, #convoEndAlert{
        margin: auto;
    }

    #successMSG, #warningMSG, #waitingMSG{
        width: 90vw;
        justify-self: center;
        text-align: center;
        margin: auto;
    }

    .message1, .message2{
        width: fit-content;
        max-width: 50vw;
    }
}