@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

/* GOMBOK */
.button{
    display: grid;
    width: fit-content;
    align-self: center;
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
}

.primaryBTN{
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
    padding: 0.8em 1em 0.8em 1em;
    color: white;
    font-size: 1.5em;
    border: 3px solid transparent;
    cursor: pointer;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.back img{
    /* text-decoration: none; */
    width: 4vw;
}

/* .backBTN a:hover::after{
    transform: scaleX(1);
}

.backBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 2px #ffbc2f;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
} */


.signup{
    display: grid;
    width: 30vw;
    height: 80vh;
    grid-template-rows: repeat(8, 1fr);
    justify-self: center;
    align-self: center;
}

.image{
    background-color: gray;
    align-content: center;
    grid-row: 1 / span 2;
    grid-column-start: 2;
}

.image img{
    width: 100%;
}

@media (max-aspect-ratio:1/1) {
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        /* gap: 0px; */
        height: 100vh;
    }

    .signup{
        display: grid;
        justify-self: center;
        width: 80vw;
    }

    .primaryBTN{
        padding: 0.5em 1em 0.5em 1em;
        justify-self: center;
        /* text-align: center; */
        font-size: 1em;
    }

    .image{
        display: none;
    }
}

.title{
    font-family: "Red Hat Text";
    font-weight: 600;
    font-size: 1.5em;
}

.subtitle{
    font-family: "Red Hat Text";
    font-size: 1em;
    opacity: 0.7;
}


.nickname, .email, .password{
    font-family: "Red Hat Text";
    font-size: 1.2em;
}

input[type=text], input[type=email], input[type=password]{
    border-bottom: rgba(228, 228, 228, 1) 2px solid;
    width: 100%;
    padding: 0 0 0.1em 0.2em;
    color: #ffbc2f;
    font-family: "Red Hat Text";
    font-size: 1.1em;
}

#pswFeedback, #emailFeedback, #checkboxFeedback{
    color: red;
    visibility: hidden;
    font-size: 1em;
}

#toggleIcon{
    font-size: 1.5em;
    
}


input:focus{
    outline: none;
    border-bottom: rgba(240, 192, 35, 1) 2px solid !important;
}

.TANDC{
    font-family: "Red Hat Text";
}

.TANDC a{
    color: #ffbc2f;
    text-decoration: none;
}

.TANDC input[type=checkbox]{
    height: 0.9em;
    accent-color: #ffbc2f;
}

label{
    font-family: "Red Hat Text";
    font-size: 1em;
}

#checkboxFeedback{
    /* color: red;
    visibility: hidden;
    font-size: 1em; */
}

.account{
    font-family: "Red Hat Text";
    align-content: end;
}

.account a{
    text-decoration: none;
    color: #ffbc2f;
    display: inline-block;
    font-family: "Albert Sans";
}

.account a:hover::after{
    transform: scaleX(1);
}

.account a::after{
    display: block;
    content: '';
    border-bottom: solid 2px #ffbc2f;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}