@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    max-height: 100%;
}

/* GOMBOK */
.button{
    display: grid;
    width: fit-content;
    align-self: center;
    background-color: #ffbc2f;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.primaryBTN{
    background-color: #ffbc2f;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: white;
    font-size: 1.5em;
    border: 3px solid transparent;
    cursor: pointer;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.tertiaryBTN, .tertiaryBTN a{
    display: inline-block;
    color: black;
    text-decoration: none;
    height: fit-content;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    width: fit-content;
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 2px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    margin-top: -2px;
}


.back{
    width: fit-content;
    height: fit-content;
    
}

.back a{
    font-size: 0;
}

.back img{
    width: 4vw;
    padding: 0.5vw 0 0 0.5vw;
}


.signup{
    display: grid;
    /* grid-template-rows: repeat(5, 1fr); */
    height: 80vh;
    width: 30vw;
    justify-self: center;
    align-self: center;
}

.account{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    align-self: end;
}

.image{
    background-image: url('/_images/logopattern.svg');
    align-content: center;
    grid-row: 1 / span 2;
    grid-column-start: 2;
}

.image img{
    width: 100%;
}

.title{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.form-floating{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
}

.form-control{
    border: #d3d3d3 2px solid;
}

.form-control:focus{
    border: #999999 2px solid;
}

.nickname, .email, .password{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2em;
}

#togglePassword{
    height: 1.8em;
    float: right;
    cursor: pointer;
    opacity: 0.7;
    justify-self: end;
}

.tooltip-inner{
    max-width: fit-content;
}

#usernameFeedback, #pswFeedback, #emailFeedback, #checkboxFeedback{
    color: red;
    font-size: 0.8em;
    margin: 0;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
}

#pswFeedback{
    visibility: hidden;
}

#passwordActions{
    display: grid;
    grid-template-columns: 1fr auto;
    /* width: 70%; */
    align-items: center;
}

input:focus{
    outline: none;
}

.TANDC{
    align-content: center;
}

.TANDC a{
    color: #ffbc2f;
    text-decoration: none;
    
}

.TANDC input[type=checkbox]{
    vertical-align: middle; 
    position: relative; 
    bottom: 1.5px;
    accent-color: #ffbc2f;
}

#checkboxLabel{
    text-underline-offset: 3px;
}

label{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
}

@media (max-aspect-ratio:1/1) {
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: 100vh;
    }

    .signup{
        display: grid;
        justify-self: center;
        width: 80vw;
    }

    .primaryBTN{
        padding: 0.5em 1em;
        justify-self: center;
        font-size: 1em;
    }

    .back img{
        width: 10vw;
    }
}