*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{

}

.header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* background-color: orange; */
    width: 100%;
}

.header img{
    width: 90px;
}

.navigation li{
    font-size: 20px;
    list-style: none;
    float: left;
    padding: 20px 30px 20px 30px;
    color: black;
    /* border-radius: 20px; */
    
}

.navigation li:hover{
    height: 100%;
    background-color: gray;
    /* border-radius: 20px; */
}

.title{
    align-self: center;
    font-size: 20px;
    font-family: "Palanquin";
    text-transform: uppercase;
}

.navigation{
    grid-column: 4;
    align-self: center;
    height: 100%;
    
}

.cover{
    height: 92vh;
    background-image: url("./images/pexels-negativespace-33999.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    align-content: center;
    color: white;
    font-size: 60px;
    font-family: "Palanquin";
    text-transform: uppercase;
}

.us{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    justify-self: center;
    /* gap: 4em; */

    font-family: "Red Hat Text";
    font-weight: 400;
}

.us img{
    border-radius: 5%;
    justify-self: center;
    width: 40%;
}

.gd, .csx, .hk{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}


.faq{
    display: grid;
    justify-self: center;
    align-self: center;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image{
    display: grid;
    grid-column-start: 2;
}

.contact img{
    width: 80%;
    justify-self: center;
    align-self: center;
    
}

.inputs{
    display: grid;
    align-self: center;
    justify-self: center;
    width: 70%;
}

#remaining-chars {
    font-size: 11px;
    color: #ffbc2f;
    margin-top: 3px;
    float: right;
    height: 20px;
}

.inputs p:nth-child(1){
    text-align: center;
}

.inputs p{
    margin-top: 20px;
}

.inputs input{
    margin: 2px 0 10px 0;
    padding-left: 10px;
    height: 100%;
    /* border-radius: 20px; */
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
}

input[type="text"]:focus {
    border-bottom: 2px solid #ffbc2f;
}

textarea{
    resize: none;
    padding: 3px 0 0 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid lightgray;
}

textarea:focus{
    border: 2px solid #ffbc2f;
}

.chatBTN{
    width: fit-content;
    height: fit-content;
    padding: 10px 0 10px 0;
    margin-top: 20px;
    border: solid 3px #ffbc2f;
    border-radius: 10px;
    background-color: #ffbc2f;
    text-align: center;
    justify-self: center;
}

.chatBTN a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 15px;
}

.chatBTN:hover{
    background-color: darkgoldenrod;
    border: solid 3px darkgoldenrod;
}

.footer{
    text-align: center;
    background-color: #ffbc2f;
    padding: 20px 0 10px 0;
    margin-top: 2%;
}

.pages a{
    padding: 10px 10px 10px 10px;
    margin: 0 5px 0 5px; 
    text-decoration: none;
    color: black;
    border-radius: 20px;
}

.pages a:hover{
    background-color: darkgoldenrod;

}

.trademark{
    margin-top: 20px;
}