*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.wrapper{
    display: grid;
}

.header{
    display: grid;
    grid-template-columns: 85px 1fr;
    background-color: orange;
    
}

.header img{
    width: 90px;
}

/* ALSÓ HATÁR ANIMÁCIÓ */
.borderb li{
    /* padding: 10px 15px 10px 15px; */
    /* margin: 0 10px 0 10px; */
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    font-family: "Albert Sans";
}

.borderb li:hover::after{
    transform: scaleX(1);
    
}

.borderb li:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.borderb li::after{
    display: block;
    margin-top: 2px;
    content: '';
    border-bottom: solid 3px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; 
}

.title{
    align-self: center;
    font-size: 20px;
}

.navigation{
    grid-column: 4;
    align-self: center;
    padding-right: 2em;
    height: 100%;
}

.navigation li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    float: left;
    padding: 10px 30px 10px 30px;
    color: white;
    /* border-radius: 100px; */
    height: fit-content;
    
}

/*
.cover{
    display: grid;
}

.cover-image img{
    width: 100%;
    height: 300px;
    /* margin-bottom: 30px;
}
*/

.profile-settings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile{
    display: grid;
    grid-template-rows: 1fr auto auto;
    
}

.profile img{
    width: 40%;
    justify-self: center;
    border-radius: 50%;
}

.statistics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-items: center; */
    text-align: center;
}

input{
    border: black 1px solid;
    height: fit-content;
    width: fit-content;
}

.settings{
    /* justify-items: center; */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;


}


/*
.last-name input, .first-name input, .email input, .password input, .gender select, .birthday input:nth-child(2){
    width: 50%;
    height: 30px;
    padding-left: 10px;
    outline: orange solid 1px;
}

.details input:hover, .details input:focus, .details select:hover, .details select:focus{
    outline: orange solid 2px;
    
}

#show1, #show2{
    outline: none;
    font-size: 20px;
}



textarea{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    resize: none;
    outline: none;
    padding: 5px 0 0 7px;
    
}



label{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: orange;
    font-size: 20px;
}


input[type="checkbox"]{
    accent-color: orange;
    color: black;
    margin-top: 10px;
}

*/