@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.wrapper{
    display: grid;
    grid-template-rows: auto 1fr;
    /* height: 100vh; */
}

body{
    /* background-image: url("./images/web.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; */
    
}

#header{
    display: grid;
    /* width: 100vw; */
    /* max-width: 100%; */
    grid-template-columns: auto auto;
    background-color: transparent;
    /* position: absolute; */
}

#logo{
    display: grid;
    grid-template-columns: auto 1fr;
    
}

#logo a{
    align-self: center;
}

#logo img{
    width: 4em;
    align-self: center;
}

#main{
    display: none;
}


#title{
    font-size: 1em;
    align-self: center;
    text-transform: uppercase;
    font-family: "Palanquin";
}

#navigation{
    justify-self: end;
    /* width: fit-content; */
    
}

#navigation ul{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-self: end;
    justify-content: center;
    /* width: fit-content; */
}

#navigation a{
    font-size: 1.5em;
    font-weight: bold;
    margin: 1vw 3vw;
    
    /* height: fit-content; */
}

#navigation li{
    list-style: none;
    width: fit-content;
    justify-self: center;
}

.tertiaryBTN, .tertiaryBTN a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-family: "Albert Sans";
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
    
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 3px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; 
}

@media (max-aspect-ratio:1/1) {
    #logo{
        display: grid;
    }

    #logo img{
        width: 4em;
        align-self: center;
    }
    
    #title{
        font-size: 1em;
        align-self: center;
        text-decoration: none;
        color: black;
        font-family: "Palanquin";
    }

    #header{
        position: inherit;
        
    }

    #main{
        display: block;
    }
    
    #main button img{
        width: 5vw;
    }
    
    #main button{
        height: fit-content;
        background-color: transparent;
        border: none;
        margin: 1em 1em 0 0;
        display: block;
        justify-self: end;
        position: absolute;
        right: 0;
        z-index: 2;
    }
    
    
    #navigation li a{
        text-decoration: none;
        color: white;
        list-style: none;
    }
    
    #navigation ul{
        display: block;
        grid-row-start: 2;
        margin: 0;
    }
    
    #navigation{
        display: grid;
        grid-template-rows: 2em 1fr;
        position: absolute;
        height: 100vh;
        max-height: 100%;
        justify-self: end;
        font-size: 1.5em;
        background-color: orange;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
        width: 0;
        right: 0;
        font-family: "Albert Sans"
    }
    
    #main{
        transition: margin-right .5s;
    }
    
    #close{
        display: none;
    }
    
    .navigation a{
        font-size: 1.3em;
        font-weight: bold;
        color: black;
        height: fit-content;
    }
}

@media (max-aspect-ratio:1/1) {
    .tertiaryBTN:hover, .tertiaryBTN a:hover{
        color: white;
    }

    .tertiaryBTN::after, .tertiaryBTN a::after{
        border-bottom: solid 0px #ffbc2f;
        transform: scaleX(0);
        transition: none; 
    }

    .title{
        display: none;
    }
}

.cover{
    display: grid;
    grid-template-columns: 55vw 40vw;
    /* margin-bottom: 5vh; */
    /* height: 70vh; */
    align-content: center;
    margin-top: 3vh;
}

.cover img{
    /* width: 40vw; */
    /* justify-self: end; */
    /* margin-right: 1vw; */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.texts{
    display: grid;
    height: fit-content;
    align-self: center;
    gap: 3vh;
    text-align: center;
    font-family: "Red Hat Text";
}

.bigtext{
    font-weight: 600;
    font-size: 2em;
}

.midtext{
    font-weight: 300;
    font-size: 1.5em;
}


.support{
    display: grid;
    grid-template-rows: auto auto;
    /* gap: 3vh; */
}


.faq{
    width: 50vw;
    justify-self: center;
    display: grid;
    background-color: white;
    /* grid-template-rows: auto auto; */

}


@media (max-aspect-ratio:1/1){
    .cover{
        height: 50vh;
        font-size: 2em;
        width: 100vw;
        max-width: 100%;
    }

    .faq{
        width: 90vw;
    }


}

.qTitle{
    color: #ffbc2f;
    font-size: 1.3em;
}

.accordion {
    display: grid;
    grid-template-columns: 45vw 1fr;
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 1em;
    font-family: "Red Hat Text";
    font-size: 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #f0f0f0;
    
}

.accordion button{
    /* width: 80%; */
}

.accordion:after {
    color: #ffbc2f;
    content: "▼";
    justify-self: end;
    align-self: center;
    font-family: "Noto Color Emoji";
  }

  @media (max-aspect-ratio:1/1){
    .accordion:after{
        width: 7vw;
    }
  }
  
  
  .active:after {
    color: #ffbc2f;
    content: "▲";
    font-family: "Noto Color Emoji";
  }


.active, .accordion:hover {
    background-color: #ccc;
}

.panel{
    padding: 0 1vw;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    font-family: "Red Hat Text";
    text-align: left;
    box-shadow: 1px 1px 4px darkgray;
    /* display: none; */
}

.panel p{
    margin: 1vw;
    width: 100%;
}

.qTitle{
    margin-top: 1em;
    font-family: "Albert Sans";
}


.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    height: fit-content;
    margin: 10vh 0 10vh 0;
    width: 80vw;
    justify-self: center;
}

.contact img{
    width: 25vw;
    justify-self: center;
    /* margin: auto; */
    display: block;
    -webkit-user-drag: none;
}

.inputs{
    display: grid;
    justify-self: center;
    align-self: center;
    width: 25vw;
    font-family: 'Red Hat Text';
    /* height: 70%; */
}

.inputs p:nth-of-type(1){
    font-family: "Albert Sans";
    font-size: 1.5em; 
}

.inputTitle{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.inputs p{
    font-family: "Red Hat Text";
    align-self: end;
    font-size: 1.2em;
}

.inputs input{
    border: none;
    border-bottom: lightgray 2px solid;
    align-self: end;
    padding: 0 0 0.2em 0.2em;
    color: #ffbc2f;
    font-size: 1em;
}

.inputs input:focus{
    outline: none;
    border-bottom: rgba(240, 192, 35, 1) 2px solid !important;
    /* padding-left: 0.1em; */
}

textarea{
    resize: none;
    border: 2px #d3d3d3 solid;
    padding: 0.2em 0 0.2em 0.2em;
    /* width: 60%; */
    font-family: "Red Hat Text";
    font-size: 1em;
    color: #ffbc2f;
}

textarea:focus{
    outline: none;
    border: rgba(240, 192, 35, 1) 2px solid !important;
    padding: 0.2em 0 0.2em 0.2em;
}

#remaining-chars{
    font-size: 11px;
    color: #ffbc2f;
    margin-top: 3px;
    visibility: hidden;
    height: 20px;
}



.primaryBTN{
    display: grid;
    width: fit-content;
    align-self: center;
    justify-self: center;
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 1em;
    color: white;
    font-size: 1.5em;
    border: 3px solid transparent;
    cursor: pointer;
    margin-top: 1em;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.button{
    grid-column: 1 / span 2;
}

@media (max-aspect-ratio: 1/1){
    .image{
        display: none;
    }

    .contact{
        display: grid;
        grid-template-columns: 1fr;
        /* justify-content: center; */
        width: 100vw;
    }

    .primaryBTN{
        padding: 0.5em 1em 0.5em 1em;
        justify-self: center;
        /* text-align: center; */
        font-size: 15px;
    }
}


.footer{
    text-align: center;
    background-color: #ffbc2f;
    height: fit-content;
}

.pages a{
    margin: 1em 1.5em;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    display: inline-block;
    font-family: "Albert Sans";
    width: fit-content;
}

.pages a:hover::after{
    transform: scaleX(1);
}

.pages a::after{
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.trademark{
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    justify-self: center;
    color: white;
    font-family: "Red Hat Text";
}

@media (max-aspect-ratio:1/1) {
    .pages{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .pages a{
        font-size: 1em;
        padding: 0.25em 0.5em;
    }

    .trademark{
        font-size: 0.7em;
    }   
}