@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.button{
    grid-column: 1 / span 2;
}

.primaryBTN{
    display: grid;
    width: fit-content;
    align-self: center;
    justify-self: center;
    background-color: #ffbc2f;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 1em;
    color: white;
    font-size: 1.5em;
    border: 3px solid transparent;
    cursor: pointer;
    margin-top: 1em;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.tertiaryBTN, .tertiaryBTN a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
    color: #ffbc2f;
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 2px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    margin-top: -2px;
}

.wrapper{
    width: 100vw;
    max-width: 100%;
}

.header{
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    grid-template-columns: auto 1fr 1fr;
    background-color: transparent;
    align-items: center;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 15px;
}

#homepage{
    text-decoration: none;
    color: #000;
    height: fit-content;
}

#homepage p{
    margin: 0;
    font-size: 15px;
}

.logo{
    text-align: center;
    padding: 0.5vw;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;
    height: fit-content;
}

#logoImg{
    width: 50px;
    /* margin: auto; */
}

#navbar{
    display: inline-block;
    margin-left: 3vw;
    width: fit-content;
}

#navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    justify-items: center;
    width: fit-content;
    gap: 4vw;
}

#navigation li{
    list-style: none;
    width: fit-content;
}

#loginNav{
    display: grid;
    justify-content: end;
    padding: 0;
    margin: 0;
    /* align-content: center; */
}

#loginNav li{
    list-style: none;
    margin-right: 1vw;
}

#optprofile{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: url("/_images/missingpicture.svg");
    background-position: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    cursor: pointer;
}


.cover{
    display: grid;
    grid-template-columns: 55vw 40vw;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 10vh 0;
}

.cover img{
    justify-self: end;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 30vw;
    justify-self: center;
}

.texts{
    display: grid;
    height: fit-content;
    align-self: center;
    justify-self: center;
    justify-content: center;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
}

.bigtext{
    font-weight: 600;
    font-size: 2em;
}

.midtext{
    font-size: 1.5em;
    width: 60%;
    justify-self: center;
}


.support{
    display: grid;
    grid-template-rows: auto auto;
}

.faq{
    width: 50vw;
    justify-self: center;
    display: grid;
    background-color: white;
}


.accordion {
    display: grid;
    grid-template-columns: 45vw 1fr;
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 1em;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #f0f0f0;
}

.accordion:after {
    color: #ffbc2f;
    content: "▼";
    justify-self: end;
    align-self: center;
    font-family: "Noto Color Emoji";
}

  
.active:after {
    color: #ffbc2f;
    content: "▲";
    font-family: "Noto Color Emoji";
}


.active, .accordion:hover {
    background-color: #ccc;
}

.panel{
    padding: 0 1vw;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    border: 1px lightgray;
    border-style: groove;
}

.panel p:not(.qTitle){
    margin: 1vw;
}

.panel p a{
    text-decoration: none;
    color: #ffbc2f;
}

.panel p a:hover{
    color: orange;
}

.qTitle{
    font-size: 1.3em;
    color: #ffbc2f;
    margin: 1.5vw 0 0 0;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    height: fit-content;
    margin: 5vh 0;
    width: 80vw;
    justify-self: center;
}

.contact img{
    width: 20vw;
    justify-self: center;
    display: block;
    user-select: none;
    -moz-user-select: none;
}

.image{
    align-self: center;
}

.inputs{
    display: grid;
    width: 30vw;
    justify-self: center;
    box-sizing: border-box;
}

.title{
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
}

.form-floating{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
}

.form-control:focus{
    color: #ffbc2f;
    border: #ffbc2f 2px solid !important;
}

.form-control{
    color: #ffbc2f;
    border: #d3d3d3 2px solid;
}

.inputs{
    display: grid;
    width: 30vw;
    justify-self: center;
    box-sizing: border-box;
}

.title{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: 600;
    height: fit-content;
}

.form-floating{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
}

.form-control:focus{
    color: #ffbc2f;
    border: #ffbc2f 2px solid !important;
}

.form-control{
    color: #ffbc2f;
    border: #d3d3d3 2px solid;
}

.inputs input:focus{
    outline: none;
}

#message{
    resize: none;
    height: 25vh;
}

#emailFeedback, #nameFeedback, #messageFeedback, #usernameFeedback{
    color: red;
    /* visibility: hidden; */
    margin: 0;
    font-weight: 400;
    height: 2em;
}

label{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
}

#remaining-chars{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #ffbc2f;
    margin-top: 0.1em;
    height: 1em;
    justify-self: end;
}


.footer{
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    background-color: #ffbc2f;
    align-self: end;
    max-width: 100%;
}

.footer > div{
    height: fit-content;
    padding: 2vh 0 0 2vh;
    margin-bottom: 0;
    color: rgb(51, 51, 51);
}

.footer > div > a{
    text-decoration: none;
    color: black;
}

.footer > div > a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    width: fit-content;
    margin-bottom: 1em;
}

.footerlink > a:hover{
    color: rgb(51, 51, 51);
}

.footerlink a:hover::after{
    transform: scaleX(1);
}

.footerlink a::after{
    display: block;
    content: '';
    border-bottom: solid 2px rgb(51, 51, 51);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-top: -2px;
}

#name, #team, #customerservice, #more{
    padding: 4vh;
}

#socialmedia a{
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    font-size: 0;
}

#name{
    display: grid;
    /* gap: 1vh; */
}

#name #coffee{
    width: 2vw;
}

#coName{
    font-size: 1.7em;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;;
}

#coSlogan{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
}

#socialmedia{
    margin-bottom: 0;
}

#team{
    width: fit-content;
}

#more{
    display: grid;
}

#trademark{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 4;
    margin: 0;
    padding: 0;
}

#trademark p{
    align-self: end;
    width: fit-content;
    padding: 0 0 1vw 1vw;
    margin: 0;
}

#trademark a{
    grid-column: 2 / span 4;
    justify-self: end;
    padding: 0;
    margin: 0 1em 1em 0;
}

#backtotop{
    width: 2vw;
    filter: invert(1);
}

#backtotop:hover{
    filter: invert(0);
}

@media (max-aspect-ratio:1/1) {
    .header{
        font-size: 11px;
    }

    #logoImg{
        width: 40px;
    }

    #homepage p{
        font-size: 10px;
    }

    #navbar{
        margin-left: 2vw;
    }

    #optprofile{
        width: 7vw;
        height: 7vw;
    }

    .cover{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: none;
        padding: 0;
        margin-bottom: 3vh;
    }

    .cover img{
        width: 70vw;
        max-width: 100%;
        grid-row-start: 1;
    }

    .faq{
        width: 80vw;
    }

    .accordion{
        grid-template-columns: 60vw 1fr;
    }

    .accordion:after{
        width: 7vw;
    }

    .contact{
        grid-template-columns: none;
        justify-self: center;
    }

    .contact img{
        width: 40%;
        justify-self: center;
        max-width: 100%;
    }

    .inputs{
        width: 80vw;
        max-width: 100%;
    }

    .primaryBTN{
        padding: 0.5em 1em;
        justify-self: center;
        font-size: 15px;
    }

    .footer{
        display: block;
        padding-left: 1em;
    }

    .footer *{
        width: fit-content;
    }

    .footer > div{
        margin-bottom: 0;
        color: rgb(51, 51, 51);
        width: fit-content;
    }

    .footer h5{
        margin: 0;
    }

    .footer div a{
        margin-bottom: 1.5vh;
    }

    .footer #name{
        grid-column: 1 / span 4;
        grid-row-start: 1;
        margin-bottom: 2vh;
    }

    #name #coffee{
        width: 5vw;
    }

    #name #insta{
        width: 8vw;
    }

    #customerservice{
        grid-column-start: 1;
    }

    #name > p{
        width: fit-content;
    }

    #name, #team, #customerservice, #more{
        padding: 0;
        margin: 0;
    }

    #more{
        grid-row-start: 2;
        grid-column-start: 2;
    }

    #backtotop{
        display: none;
    }

    #trademark{
        display: block;
        width: fit-content;
        height: fit-content;
        padding: 0;
    }  
}