@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

.emoji{
    font-family: "Noto Color Emoji";
    font-size: 2em;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    animation: floating 3s infinite;
    animation-direction: normal;
}

@keyframes floating{
    0%   {bottom: 0px; top: 0px;}
    25%  {bottom: 2px; top: 0px;}
    50%  {bottom: 5px; top: 5px;}
    75%  {bottom: 0px; top: 2px;}
    100% {bottom: 0px; top: 0px;}
}

.button{
    grid-column: 1 / span 2;
}

.primaryBTN{
    background-color: #ffbc2f;
    text-decoration: none;
    color: white;
    border: 3px solid transparent;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.primaryBTN, .secondaryBTN{
    display: grid;
    justify-self: center;
    font-family: "Albert Sans";
    padding: 0.7em 1.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}

.secondaryBTN{
    background-color: white;
    text-decoration: none;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.secondaryBTN:hover{
    background-color: #ffbc2f;
    color: white;
    border: 3px solid #ffbc2f;
}

.tertiaryBTN, .tertiaryBTN a{
    display: inline-block;
    color: black;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    font-family: "Albert Sans";
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 2px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    margin-top: -2px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.wrapper{
    /* width: 100vw; */
    max-width: 100%;
}

p{
    margin: 0;
}


.header{
    display: grid;
    /* width: 100vw; */
    max-width: 100%;
    height: fit-content;
    grid-template-columns: auto 1fr 1fr;
    background-color: transparent;
    align-items: center;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 15px;
}

#homepage{
    text-decoration: none;
    color: #000;
    height: fit-content;
}

#homepage p{
    margin: 0;
}

.logo{
    text-align: center;
    padding: 0.5vw;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;
    height: fit-content;
}

#logoImg{
    width: 50px;
    /* margin: auto; */
}


#navbar{
    display: inline-block;
    margin-left: 3vw;
    width: fit-content;
    /* font-size: 2vh; */
}

#navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    justify-items: center;
    width: fit-content;
    gap: 4vw;
}

#navigation li{
    list-style: none;
    width: fit-content;
}

#loginNav{
    display: grid;
    justify-content: end;
    padding: 0;
    margin: 0;
    /* align-content: center; */
}

#loginNav li{
    list-style: none;
    margin-right: 1vw;
}

#optprofile{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: url("/_images/missingpicture.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    cursor: pointer;
}


.cover{
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5vh;
    height: fit-content;
}

.cover img{
    width: 50vw;
    user-select: none;
}

.texts{
    display: grid;
    height: fit-content;
    align-self: center;
    gap: 3vh;
}

.bigtext{
    justify-self: center;
    align-self: end;
    text-align: center;
    font-family: "Red Hat Text";
    font-weight: 600;
    font-size: 1.5em;
}

.midtext{
    align-self: center;
    text-align: center;
    font-family: "Red Hat Text";
    font-size: 1.5em;
}


.history{
    display: grid;
    text-align: center;
    justify-self: center;
    background-position: center;
    background-repeat: no-repeat;
    gap: 3vh;
    margin-bottom: 7vh;
}

.historyP{
    width: 50vw;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 1.3em;
    justify-self: center;
}

.history img{
    display: block;
    justify-self: center;
    width: 50vw;
    border: 1px solid black;
}


.our-values{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    justify-self: center;
}


.title{
    display: block;
    font-size: 2.5em;
    font-weight: 600;
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    width: fit-content;
    text-align: center;
    justify-self: center;
}

.our-values{
    margin-bottom: 7vh;
}

.values{
    justify-content: center;
}

.values > div{
    box-shadow: 1px 1px 5px #dadada;
    border-radius: 2em;
    padding: 2vw;
    margin: 1vh;
    width: fit-content;
    font-size: 1.2em;
}

.valuesT{
    font-weight: 700;
    font-size: 1.5em;
}

.valuesText{
    width: 20vw;
    justify-self: center;
    margin: 0;
}


.us{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    width: 100vw;
    max-width: 100%;
    justify-self: center;
    gap: 1vw;
    background-color: #ffbc2f;
    background-color: #fff5de;
    padding: 5vh 0;
}

.us .title{
    grid-column: 1 / span 3;
}

.us img{
    border: 1px solid #ffbc2f;
    border: 2px solid #fbce6f;
}

.teamName{
    font-weight: 600;
    font-size: 1.3em;
}

.gd, .csx, .hk{
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr;
    /* height: fit-content; */
    border: 3px rgb(243, 243, 243) solid;
    border: 3px #ffe2a4 solid;
    padding: 2vw;
    gap: 1vw;
    background-color: #fff;
}

.gd{
    grid-row: 2;
}

.teamPicture{
    height: 30vh;
    justify-self: center;
    border-radius: 50%;
}

.role{
    color: #ffbc2f;
    cursor: pointer;
    user-select: none;
    font-size: 1.1em;
    width: fit-content;
}

.role:hover{
    color: darkorange;
}

.accordion{
    transition: 0.4s;
}

.panel{
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

.panel p{
    /* display: block; */
    margin: 0;
    padding: 0;
    height: 50vh;
}


.faq{
    display: grid;
    justify-self: center;
    align-self: center;
}


.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vh 0;
    width: 80vw;
    justify-self: center;
}

.contact img{
    width: 20vw;
    justify-self: center;
    display: block;
    user-select: none;
    -moz-user-select: none;
}

.image{
    align-self: center;
}

.inputs{
    display: grid;
    width: 30vw;
    justify-self: center;
    box-sizing: border-box;
    gap: 3vh;
}

.contactTitle{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: 600;
    height: fit-content;
}

.form-floating{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
}

.form-control:focus{
    border: #999999 2px solid;
}

.form-control{
    border: #d3d3d3 2px solid;
}

.inputs input:focus{
    outline: none;
}

#message{
    resize: none;
    height: 25vh;
}

#emailFeedback, #nameFeedback, #messageFeedback, #usernameFeedback{
    color: red;
    visibility: hidden;
    margin: 0;
    font-weight: 400;
    height: 2em;
}

label{
    font-family: "Red Hat Text", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
}

#remaining-chars{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #ffbc2f;
    margin-top: 0.1em;
    height: 1em;
    justify-self: end;
}


.footer{
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    background-color: #ffbc2f;
    align-self: end;
    max-width: 100%;
}

.footer > div{
    height: fit-content;
    padding: 2vh 0 0 2vh;
    margin-bottom: 0;
    color: rgb(51, 51, 51);
}

.footer > div > a{
    text-decoration: none;
    color: black;
}

.footer > div > a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    width: fit-content;
    margin-bottom: 1em;
}

.footerlink > a:hover{
    color: rgb(51, 51, 51);
}

.footerlink a:hover::after{
    transform: scaleX(1);
}

.footerlink a::after{
    display: block;
    content: '';
    border-bottom: solid 2px rgb(51, 51, 51);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-top: -2px;
}

#name, #team, #customerservice, #more{
    padding: 4vh;
}

#socialmedia a{
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    font-size: 0;
}

#name{
    display: grid;
    gap: 2vh;
}

#name #coffee{
    width: 2vw;
}

#coName{
    font-size: 1.7em;
    font-family: 'Palanquin', Geneva, Verdana, sans-serif;
}

#coSlogan{
    font-family: 'Red Hat Text', "Trebuchet MS", Helvetica, sans-serif;
}

#socialmedia{
    margin-bottom: 0;
}

#team{
    width: fit-content;
}

#more{
    display: grid;
}

#trademark{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 4;
    margin: 0;
    padding: 0;
}

#trademark p{
    align-self: end;
    width: fit-content;
    padding: 0 0 1vw 1vw;
    margin: 0;
}

#trademark a{
    grid-column: 2 / span 4;
    justify-self: end;
    padding: 0;
    margin: 0 1em 1em 0;
}

#backtotop{
    width: 2vw;
    filter: invert(1);
}

#backtotop:hover{
    filter: invert(0);
}


@media (max-aspect-ratio:1/1) {
    .cover img{
        grid-row-start: 1;
        width: 100vw;
        max-width: 100%;
        margin-bottom: 5vh;
    }

    .primaryBTN, .secondaryBTN{
        padding: 0.5em 1em;
        justify-self: center;
        font-size: 1em;
        margin-bottom: 1vh;
    }

    .header{
        font-size: 11px;
    }

    #logoImg{
        width: 40px;
    }

    #homepage p{
        font-size: 10px;
    }

    #navbar{
        margin-left: 2vw;
    }

    #optprofile{
        width: 7vw;
        height: 7vw;
    }

    .cover{
        grid-template-columns: none;
    }

    .cover img{
        height: auto;
        grid-row-start: 1;
    }

    .texts{
        grid-row-start: 2;
    }

    .history{
        gap: 0;
        text-align: center;
    }

    .historyP{
        width: 90vw;
        justify-self: center;
    }

    .title{
        font-size: 2em;
        width: 100%;
    }

    .values > div{
        width: 90vw;
        
    }

    .values > div > p{
        margin: 0;
    }

    .valuesText{
        width: fit-content;
        justify-self: center;
        margin: 0;
        padding: 0 0.5vh;
    }

    .us{
        display: block;
        width: 100vw;
        max-width: 100%;
    }

    .gd, .csx{
        margin-bottom: 2vh;
    }

    .gd, .csx, .hk{
        padding: 3vw;
    }

    .panel p{
        height: fit-content;
    }

    .contact{
        grid-template-columns: none;
        width: 100vw;
        max-width: 100%;
        justify-self: center;
        margin: auto;
        padding: 2vh 0 0 0;
    }

    .contact img{
        width: 40%;
        max-width: 100%;
        margin: auto;
    }

    .inputTitle{
        margin: 0;
        padding: 0;
    }

    .inputs{
        width: 80vw;
        max-width: 100%;
    }

    #message{
       height: 25vh;
    }

    .footer{
        display: block;
        padding-left: 1em;
    }

    .footer *{
        width: fit-content;
    }

    .footer > div{
        margin-bottom: 0;
        color: rgb(51, 51, 51);
        width: fit-content;
    }

    .footer h5{
        margin: 0;
    }

    .footer div a{
        margin-bottom: 1.5vh;
    }

    .footer #name{
        grid-column: 1 / span 4;
        grid-row-start: 1;
        margin-bottom: 2vh;
    }

    #name #coffee{
        width: 5vw;
    }

    #name #insta{
        width: 8vw;
    }

    #customerservice{
        grid-column-start: 1;
    }

    #name > p{
        width: fit-content;
    }

    #name, #team, #customerservice, #more{
        padding: 0;
        margin: 0;
    }

    #more{
        grid-row-start: 2;
        grid-column-start: 2;
    }

    #backtotop{
        display: none;
    }

    #trademark{
        display: block;
        width: fit-content;
        height: fit-content;
        padding: 0;
    }
}