*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GOMBOK */
.primaryBTN{
    display: grid;
    width: fit-content;
    align-self: center;
    justify-self: center;
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    font-size: 1.5rem;
    border: 3px solid transparent;
    cursor: pointer;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.button{
    grid-column: 1 / span 2;
}


.header{
    display: grid;
    width: 100vw;
    max-width: 100%;
    /* box-sizing: border-box; */
    grid-template-columns: auto 1fr;
    background-color: transparent;
    /* position: absolute; */
    /* margin-top: 1em; */
}

.logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo img{
    width: 5vw;
}


/*
.navigation li:hover{
    height: fit-content;
    background-color: white;
    border-radius: 100px;
    transition: 300ms;
    color: #ffbc2f;
}
*/

.title{
    /* align-self: center; */
    font-size: 1em;
    align-self: center;
    text-transform: uppercase;
    font-family: "Palanquin";
}

.navigation{
    grid-column: 4;
    align-self: center;
    /* padding-right: 2em; */
    height: auto;
    
}

.navigation a{
    font-size: 1.3rem;
    font-weight: bold;
    list-style: none;
    /* float: left; */
    margin: 1rem 2rem;
    color: #ffbc2f;
    /* border-radius: 100px; */
    height: fit-content;
    
}

.tertiaryBTN, .tertiaryBTN a{
    text-decoration: none;
    display: inline-block;
    font-family: "Albert Sans";
    
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
    
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 3px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; 
}


.cover{
    display: grid;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    /* background-color: white; */
}

.cover img{
    height: 80vh;
    /* width: 90vw; */
    /* float: right; */
}

.texts{
    display: grid;
    height: fit-content;
    align-self: center;
    /* gap: 5vh; */
}

.bigtext{
    /* padding-bottom: 10%; */
    justify-self: center;
    align-self: end;
    text-align: center;
    font-family: "Red Hat Text";
    font-weight: 300;
    /* line-height: 100%; */
    font-size: 2em;
    /* height: fit-content; */
}

.midtext{
    /* padding-bottom: 10%; */
    /* justify-self: center; */
    align-self: center;
    text-align: center;
    /* height: fit-content; */

    font-family: "Red Hat Text";
    font-weight: 300;
    /* line-height: 100%; */
    font-size: 1.5em;
}


.history img{
    display: block;
    justify-self: center;
    width: 50vw;
    border: 1px solid black;
}

.us{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    justify-self: center;
    /* gap: 4em; */

    font-family: "Red Hat Text";
    font-weight: 400;
}

.us img{
    border-radius: 5%;
    justify-self: center;
    width: 40%;
}

.gd, .csx, .hk{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}


.faq{
    display: grid;
    justify-self: center;
    align-self: center;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    justify-self: center;
}

.image{
    display: grid;
    /* grid-column-start: 2; */
}

.contact img{
    width: 50%;
    justify-self: center;
    align-self: center;
    
}

.inputs{
    display: grid;
    align-self: center;
    justify-self: center;
    width: 80%;
    
}

#remaining-chars {
    font-size: 11px;
    color: #ffbc2f;
    margin-top: 3px;
    float: right;
    height: 20px;
}

.inputs p:nth-child(1){
    text-align: center;
}

.inputs p{
    margin-top: 20px;
}

.inputs input{
    margin: 2px 0 5px 0;
    padding-left: 5px;
    height: 100%;
    /* border-radius: 20px; */
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    color: #ffbc2f
}

input[type="text"]:focus {
    border-bottom: 2px solid #ffbc2f;
}

textarea{
    resize: none;
    padding: 3px 0 0 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid lightgray;
}

textarea:focus{
    border: 2px solid #ffbc2f;
}

.footer{
    text-align: center;
    background-color: #ffbc2f;
    padding: 40px 0 5px 0;
    
}

.pages a{
    padding: 10px 15px 10px 15px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    font-family: "Albert Sans";
}

.pages a:hover::after{
    transform: scaleX(1);
}

.pages a::after{
    display: block;
    margin-top: 2px;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    
}


.trademark{
    margin-top: 2%;
    justify-self: center;
    color: white;
    font-family: "Red Hat Text";
}