*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GOMBOK */
.primaryBTN{
    display: grid;
    width: fit-content;
    align-self: center;
    justify-self: center;
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    font-size: 1.5em;
    border: 3px solid transparent;
    cursor: pointer;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}

.button{
    grid-column: 1 / span 2;
}


.header{
    display: grid;
    width: 100vw;
    max-width: 100%;
    /* box-sizing: border-box; */
    grid-template-columns: auto 1fr;
    background-color: transparent;
    /* position: absolute; */
    /* margin-top: 1em; */
}

.logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo img{
    width: 5vw;
}


/*
.navigation li:hover{
    height: fit-content;
    background-color: white;
    border-radius: 100px;
    transition: 300ms;
    color: #ffbc2f;
}
*/

.title{
    /* align-self: center; */
    font-size: 1em;
    align-self: center;
    text-transform: uppercase;
    font-family: "Palanquin";
}

.navigation{
    grid-column: 4;
    align-self: center;
    /* padding-right: 2em; */
    height: auto;
    
}

.navigation a{
    font-size: 1.3rem;
    font-weight: bold;
    list-style: none;
    /* float: left; */
    margin: 1em 2em;
    color: #ffbc2f;
    /* border-radius: 100px; */
    height: fit-content;
    
}

.tertiaryBTN, .tertiaryBTN a{
    text-decoration: none;
    display: inline-block;
    font-family: "Albert Sans";
    
}

.tertiaryBTN:hover::after, .tertiaryBTN a:hover::after{
    transform: scaleX(1);
    
}

.tertiaryBTN:hover, .tertiaryBTN a:hover{
    color: #ffbc2f;
    transition: 200ms;
}

.tertiaryBTN::after, .tertiaryBTN a::after{
    display: block;
    content: '';
    border-bottom: solid 3px #ffbc2f;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; 
}


.cover{
    display: grid;
    width: 100vw;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5vh;
    /* background-color: white; */
}

.cover img{
    height: 80vh;
    /* width: 90vw; */
    /* float: right; */
}

.texts{
    display: grid;
    height: fit-content;
    align-self: center;
    gap: 5vh;
}

.bigtext{
    /* padding-bottom: 10%; */
    justify-self: center;
    align-self: end;
    text-align: center;
    font-family: "Red Hat Text";
    /* font-weight: 300; */
    /* line-height: 100%; */
    font-size: 2em;
    /* height: fit-content; */
}

.midtext{
    /* padding-bottom: 10%; */
    /* justify-self: center; */
    align-self: center;
    text-align: center;
    /* height: fit-content; */

    font-family: "Red Hat Text";
    /* font-weight: 300; */
    /* line-height: 100%; */
    font-size: 1.5em;
}

.history{
    display: grid;
    text-align: center;
    justify-self: center;
    /* background-image: url("../support/images/web.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    gap: 3vh;
    margin-bottom: 7vh;
}

.historyP{
    width: 50vw;
    font-family: "Red Hat Text";
    line-height: 1.5em;
    font-size: 1.3em;
    /* font-size: 4rem; */
    /* font-weight: 600; */
}



.history img{
    display: block;
    justify-self: center;
    width: 50vw;
    border: 1px solid black;
}


.our-values{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 80vw;
    font-family: "Red Hat Text";
    justify-self: center;
    /* gap: 1em; */
}

.valuesPT{
    justify-self: center;
    font-size: 2.5em;
    font-weight: 600;
    /* opacity: 0.7; */
    /* color: #ffbc2f; */
    font-family: "Red Hat Text";

}

.valuesT{
    font-weight: 700;
    font-size: 1.5em;
}

.values{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.1em;
    text-align: center;
    gap: 1em;
    margin-bottom: 7vh;
}

.values > div{
    padding: 1em;
    border: #ffbc2f 2px  dashed ;
    box-shadow: #ffbc2f 1px;
    border-radius: 1em;
}

.values > div > p{
    margin-top: 10px;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.us{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
    justify-self: center;
    /* gap: 1em; */
    /* height: fit-content; */
    font-family: "Red Hat Text";
    font-weight: 400;
    font-size: 1.1em;
    
}

.us img{
    border-radius: 5%;
    justify-self: center;
    max-width: 50%;
}

.gd, .csx, .hk{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 1em;
    border-radius: 2em;

    /* -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px black; */

    font-family: "Red Hat Text";
}

.us p{
    justify-self: center;
    width: 25vw;
    
}

/* media screen-nél:
    .us p:
    overflow-y: scroll;
    max-height: 30vh;

    .us img:
    max-width: 100%;
    */

.faq{
    display: grid;
    justify-self: center;
    align-self: center;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    height: fit-content;
    margin: 10vh 0 10vh 0;
    /* background-image: url("../landingpage/images/img_avatarA.png"); */
    /* background-attachment: fixed; */
}

.inputs{
    display: grid;
    justify-self: center;
    align-self: center;
    width: 70%;
    /* height: 70%; */
}

.inputs p:nth-of-type(1){
    font-family: "Albert Sans";
    font-size: 1.5em; 
}

.inputTitle{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.inputs p{
    font-family: "Red Hat Text";
    align-self: end;
    font-size: 1.2em;
}

.inputs input{
    border: none;
    border-bottom: lightgray 2px solid;
    align-self: end;
    padding: 0 0 0.2em 0.2em;
    color: #ffbc2f;
    font-size: 1em;
}

.inputs input:focus{
    outline: none;
    border-bottom: rgba(240, 192, 35, 1) 2px solid !important;
    /* padding-left: 0.1em; */
}


textarea{
    resize: none;
    border: 2px #d3d3d3 solid;
    padding: 0.2em 0 0.2em 0.2em;
    /* width: 60%; */
    font-family: "Red Hat Text";
    font-size: 1em;
    color: #ffbc2f;
}



textarea:focus{
    outline: none;
    border: rgba(240, 192, 35, 1) 2px solid !important;
    padding: 0.2em 0 0.2em 0.2em;
}


#remaining-chars{
    font-size: 11px;
    color: #ffbc2f;
    margin-top: 3px;
    /* float: right; */
    height: 20px;
    /* display: none; */
}



.footer{
    text-align: center;
    width: 100vw;
    max-width: 100%;
    background-color: #ffbc2f;
    height: fit-content;
}

.pages a{
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    display: inline-block;
    font-family: "Albert Sans";
    width: fit-content;
}

.pages a:hover::after{
    transform: scaleX(1);
}

.pages a::after{
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.trademark{
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-self: center;
    color: white;
    font-family: "Red Hat Text";
}

.emoji{
    font-family: "Noto Color Emoji";
    font-size: 2em;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-aspect-ratio:1/1){
    .navigation{
        display: none;
    }

    .cover{
        width: 100vw;
        max-width: 100%;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .cover img{
        width: 100vw;
        height: auto;
        grid-row-start: 1;
    }

    .texts{
        grid-row-start: 2;
    }

    .history{
        width: 100vw;
    }

    .history img{

        width: 100vw;
    }

    .historyP{
        width: 90vw;
        justify-self: center;
    }

    .values{
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
    }

    .us{
        grid-template-columns: none;
        grid-template-rows: repeat(3, auto);
        width: 100vw;
    }

    .gd{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        /* width: 100vw; */
        /* width: 100%; */
        /* justify-content: center; */
    }

    .csx{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    .csx img{
        grid-row-start: 1;
    }

    .hk{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    .us p{
        width: 90vw;
        /* max-height: 50%; */
        /* overflow-y: scroll; */
        /* justify-self: center; */
        /* width: 100vw; */
        /* max-width: 100%; */
    }

    .contact{
        grid-template-columns: none;
        width: 100vw;
        justify-self: center;
    }

    .contact image{
        display: none;   
    }

    .footer{
        text-align: center;
        width: 100vw;
        max-width: 100%;
        background-color: #ffbc2f;
        height: fit-content;
        /* padding: 1rem 0 1rem 0; */
        
    }
    
    .pages a{
        padding: 1rem 1.5rem;
        /* margin: 0 5px 0 5px; */
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
        display: inline-block;
        font-family: "Albert Sans";
        width: fit-content;
    }
    
    .pages a:hover::after{
        transform: scaleX(1);
    }
    
    .pages a::after{
        display: block;
        content: '';
        border-bottom: solid 3px white;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
    
    .trademark{
        /* margin-top: 0.5rem; */
        padding-bottom: 0.5rem;
        justify-self: center;
        color: white;
        font-family: "Red Hat Text";
    }
    
    .pages{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .pages a{
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    .trademark{
        font-size: 0.7rem;
        width: 100vw;
    }
}