*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    /* display: grid; */
    height: 10vh;

}

.wrapper{
    /* display: grid; */
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.container-fluid > div{
    height: 20vh;
}

.navigation{
    font-family: 'Red Hat Text';
}

.navigation img{
    width: 3vw;
}

.navigation > div{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
    width: 15vw;
    height: 10vh;
    box-shadow: 1px 1px 5px lightgray;
    gap: 2vw;
}