@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Noto+Color+Emoji&family=Noto+Sans+Symbols+2&family=Palanquin:wght@700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    height: 100vh;
    max-height: 100%;
    grid-template-columns: 1fr 1fr;
}

/* GOMBOK */
.button{
    display: grid;
    width: fit-content;
    align-self: center;
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
}

.primaryBTN{
    background-color: #ffbc2f;
    font-family: "Albert Sans";
    text-transform: uppercase;
    padding: 1em 2em;
    color: white;
    font-size: 1.5em;
    border: 3px solid transparent;
    cursor: pointer;
}

.primaryBTN:hover{
    background-color: white;
    color: #ffbc2f;
    border: 3px solid #ffbc2f;
}


.signin{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 30vw;
    height: 60vh;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
}

.signin p{
    font-family: "Red Hat Text";
}

.image{
    background-color: gray;
    align-content: center;
    grid-column-start: 2;
}

.image img{
    width: 100%;
}


.title{
    font-family: "Red Hat Text";
    font-weight: 600;
    font-size: 1.5em;
}

.form-floating{
    font-family: 'Red Hat Text';
}

.form-control:focus{
    color: #ffbc2f;
    border: #ffbc2f 2px solid !important;
}

.form-control{
    color: #ffbc2f;
}

.inputs{
    display: grid;
    justify-self: center;
    align-self: center;
    width: 25vw;
    gap: 3vh;
}

.inputs input:focus{
    outline: none;
}

#newPassFeedback, #reNewPassFeedback{
    color: red;
    visibility: hidden;
    font-size: 1em;
    margin: 0;
}

#textarea{
    resize: none;
    height: 25vh;
}


.TANDC a{
    color: #ffbc2f;
    text-decoration: none;
}

.TANDC input[type=checkbox]{
    height: 0.7em;
    accent-color: #ffbc2f;
}

label{
    font-family: "Red Hat Text";
    font-size: 1em;
}

@media (max-aspect-ratio:1/1) {
    .wrapper{
        grid-template-columns: 1fr;
    }

    .signin{
        width: 70vw;
    }

    .primaryBTN{
        padding: 0.5em 1em;
        justify-self: center;
        font-size: 1em;
    }

    .image{
        display: none;
    }
}